<template>
    <span>
        <DatatableWithCard :is_loading=is_loading>
            <template #cardTitle>Invoices</template>
            <template #tHeader>
                <go-back></go-back>
            </template>
            <template #tHead>
                <thead>
                <tr class="bg-info text-white">
                    <th>#</th>
                    <th>Quote #</th>
                    <th>Sales Person</th>
                    <th>Customer</th>
<!--                    <th>Email</th>-->
<!--                    <th>Contact No</th>-->
                    <th>Comments</th>
                    <th>FollowUp Through</th>
                    <th>Date</th>
                </tr>
                </thead>
            </template>
            <template #tBody>
                <tbody>
                <tr v-for="(followup,index) in followups">
                    <td>{{ index + 1 }}</td>
                    <td>{{ quotation.quote_no }}</td>
                    <td>{{ followup ? followup.first_name+' '+followup.last_name : 'N/A' }}</td>
                    <td>{{ quotation.customer ? quotation.customer.first_name+' '+quotation.customer.last_name : 'N/A' }}</td>
<!--                    <td>{{ quotation.email }}</td>-->
<!--                    <td>{{ quotation.contact_no }}</td>-->
                    <td>{{ followup.pivot.comments }}</td>
                    <td>
                        <button type="button" v-if="followup.pivot.followup_email == '1'" class="btn btn-sm btn-outline-success round">Email</button>
                        <button type="button" v-if="followup.pivot.followup_call == '1'" class="btn btn-sm btn-outline-success round">Call</button>
                        <button type="button" v-if="followup.pivot.followup_email == '0' && followup.pivot.followup_call == '0'" class="btn btn-sm btn-outline-danger round">N/A</button>
                    </td>
                    <td>{{ followup.pivot.created_at }}</td>
                </tr>
                </tbody>
            </template>
        </DatatableWithCard>
    </span>
</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import MyModal from '../../PartialViews/Modal/bsModal';
    import DatatableWithCard from '../../PartialViews/Datatable/datatableWithCard';
    import GoBack from '../../PartialViews/goBack';
    export default {
        mixins: [globalMixin],
        components:{
            DatatableWithCard,
            MyModal,
            GoBack
        },
        data: function () {
            return {
                quotation:{},
                followups:[],
                is_loading:1,
            }
        },
        created() {
            var app = this;
            let id = app.$route.params.id;
            app.quotation_id = id;
            app.getFollowUpListing();
        },
        mounted(){
            var app = this;
        },
        methods: {
            async getFollowUpListing()
            {
                var app = this;
                await axios.get('salesperson/followUpListing/'+app.quotation_id)
                    .then(function (resp) {
                        app.quotation = resp.data.data.quotation;
                        app.followups = resp.data.data.quotation.followups;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
                app.initializeDatatable();
                app.is_loading = 0;
            },
        }
    }
</script>
