<template>
    <span>
        <alert v-if="quotation.status === 'completed'" alert_bg="bg-success">
            <template #roundAlertText>Quotation has Completed  !!!</template>
        </alert>
        <alert v-if="quotation.status === 'rejected'" alert_bg="bg-danger">
            <template #roundAlertText>Quotation has Rejected  !!!</template>
        </alert>
        <section class="card">
        <div id="invoice-template" class="card-body">
            <loader-spinner :is_loading_spin=is_loading_spin></loader-spinner>
            <!-- Invoice Company Details -->
            <div id="invoice-company-details" class="row">
                <div class="col-md-6 col-sm-12 text-center text-md-left">
                    <div class="media">
                        <img src="public/assets/AdminTheme/app-assets/images/logo/logo.png" alt="company logo" class="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-right">
                    <h2>Quotation</h2>
                    <p class="pb-3"># {{quotation.quote_no}}</p>
                </div>
            </div>
            <!--/ Invoice Company Details -->
            <!-- Invoice Customer Details -->
            <div id="invoice-customer-details" class="row pt-2">
                <div class="col-sm-12 text-center text-md-left">
                    <p class="text-muted">Bill To</p>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-left">
                    <ul class="px-0 list-unstyled">
                        <li class="text-bold-800">{{ selected_customer.first_name+' '+ selected_customer.last_name}}</li>
                        <li>{{ selected_customer.customer_no }}</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-right mt-2">
                    <p><span class="text-muted">Invoice Expiry:</span> {{ quotation.quotation_expiry }}</p>
                </div>
            </div>
            <!--/ Invoice Customer Details -->
            <!-- Invoice Items Details -->
            <div id="invoice-items-details" class="pt-2">
                <div class="row">
                    <div class="table-responsive col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Part Number</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Condition</th>
                                <th>Price</th>
                                <th>Extended Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(added_row,index) in part_added_rows">
                                <td>{{ added_row.part_no }}</td>
                                <td>{{ added_row.name }}</td>
                                <td>{{ added_row.quantity }}</td>
                                <td>{{ added_row.condition }}</td>
                                <td>{{ added_row.price }}</td>
                                <td>{{ added_row.grand_extended_price }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-sm-12 text-center text-md-left">
                        <p class="lead"></p>
                        <div class="row">
                            <div class="col-md-8">
                                <table class="table table-borderless table-sm">
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="text-right"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <p class="lead">Total due</p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>Sub Total</td>
                                    <td class="text-right">{{ quotation.total }}</td>
                                </tr>
                                <tr v-if="quotation.tax_percentage > 0">
                                    <td>Tax Percentage</td>
                                    <td class="text-right"> {{ quotation.tax_percentage }}% </td>
                                </tr>
                                <tr v-if="quotation.shipment_cost > 0">
                                    <td>Shipment Charges</td>
                                    <td class="text-right"> {{ quotation.shipment_cost }} </td>
                                </tr>
                                <tr v-if="quotation.credit_card_percentage > 0">
                                    <td>Credit Card Percentage</td>
                                    <td class="text-right"> {{ quotation.credit_card_percentage }}% </td>
                                </tr>
                                <tr>
                                    <td class="text-bold-800">Grand Total</td>
                                    <td class="text-bold-800 text-right"> {{ quotation.grand_total }} </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Invoice Footer -->
            <div id="invoice-footer">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center mt-3">
                        <button class="btn btn-info btn-glow float-right mb-2" v-can="'invoice-create'" @click="saveForm()" v-show="quotation.status === 'quotation-prepared'"><i class="la la-check-o"></i>Send Invoice</button>
                        <a class="btn btn-info btn-glow float-right text-white mb-2" v-can="'sales_person-invoice-acceptance'" @click="acceptInvoice()" v-show="quotation.status === 'invoice-sent'"><i class="la la-check-o"></i>Accept Invoice</a>
                    </div>
                </div>
            </div>
            <!--/ Invoice Footer -->
        </div>
    </section>
    </span>
</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import Card from '../../PartialViews/Card/bsCard';
    import Alert from '../../PartialViews/RoundAlerts/bsRoundAlert';
    import GoBack from '../../PartialViews/goBack';
    import LoaderSpinner from '../../PartialViews/loaderSpinner';
    export default {
        mixins: [globalMixin],
        components:{
            Card,
            GoBack,
            LoaderSpinner,
            Alert,
        },
        data: function () {
            return {
                today: new Date().toISOString().substr(0, 10),
                quotation_id:'',
                quotation:{},
                selected_customer:{
                    first_name:'',
                    last_name:'',
                },
                salesperson:{
                    first_name:'',
                    last_name:'',
                },
                part_added_rows:[],
                is_loading_spin:0,
            }
        },
        created() {
            var app = this;
            let id = app.$route.params.id;
            app.quotation_id = id;
            axios.get('salesperson/reviewQuotation/'+app.quotation_id)
                .then(function (resp) {
                    app.quotation = resp.data.data.quotation;
                    app.selected_customer = resp.data.data.quotation.customer;
                    app.part_added_rows = resp.data.data.quotation.parts;
                    app.salesperson = resp.data.data.salesperson;
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        mounted(){

        },
        methods: {
            saveForm() {
                var app = this;
                app.is_loading_spin = 1;
                axios.get('salesperson/sendInvoice/'+app.quotation_id)
                    .then(function (resp) {
                        if (resp.data.code == 422) {
                            app.dangerToastr("Error", resp.data.message);
                        } else {
                            app.successToastr("Success", resp.data.message);
                            app.$router.push({name: 'priceComparison'});
                        }
                        app.is_loading_spin = 0;
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                        app.dangerToastr("Error", "Invoice Has Not Been Sent !");
                    });
            },
            acceptInvoice()
            {
                var app = this;
                axios.get('salesperson/acceptInvoiceSalesPerson/'+app.quotation_id)
                    .then(function (resp) {
                        if (resp.data.code == 422) {
                            app.dangerToastr("Error", resp.data.message);
                        } else {
                            app.successToastr("Success", resp.data.message);
                            app.$router.push({name: 'listInvoices'});
                        }
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                        app.dangerToastr("Error", "Invoice Not Accepted !");
                    });
            }
        }
    }
</script>