<template>
    <span>
        <DatatableWithCard :is_loading=is_loading>
            <template #cardTitle>Pending Follow Ups</template>
            <template #tHeader></template>
            <template #tHead>
                <thead>
                <tr class="bg-info text-white">
                    <th>#</th>
                    <th>Quote #</th>
                    <th>Customer</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th>Sales Person</th>
                    <th>Status</th>
                    <th>Quotation Date</th>
                    <th>Action</th>
                </tr>
                </thead>
            </template>
            <template #tBody>
                <tbody>
                <tr v-for="(quotation,index) in quotations">
                    <td>{{ index + 1 }}</td>
                    <td>{{ quotation.quote_no }}</td>
                    <td>{{ quotation.customer ? quotation.customer.first_name+' '+quotation.customer.last_name : 'N/A' }}</td>
                    <td>{{ quotation.email }}</td>
                    <td>{{ quotation.contact_no }}</td>
                    <td>{{ quotation.salesperson ? quotation.salesperson.first_name+' '+quotation.salesperson.last_name : 'N/A' }}</td>
                    <td>{{ quotation.status }}</td>
                    <td>{{ quotation.created_at }}</td>
                    <td>
                        <div class="form-group">
                            <div class="btn-group mr-1 mb-1">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Action</button>
                                <div class="dropdown-menu">
                                    <router-link class="dropdown-item tooltip-info tooltip-vue" v-can="'price_comparison-view'" :to="{name:'viewPriceComparison', params: {id: quotation.id}}">View Quotation</router-link>
                                    <router-link class="dropdown-item tooltip-info tooltip-vue" v-can="'invoice-view'" :to="{name:'invoice', params: {id: quotation.id}}">View Invoice</router-link>
                                    <a class="dropdown-item tooltip-vue tooltip-info" v-can="'assign_sales_person-edit'" @click="openAssignSurveyorModal(quotation,index)">Assign Sales Person</a>
                                    <a class="dropdown-item tooltip-vue tooltip-info" v-can="'follow_up-create'" @click="openFollowupModal(quotation,index)">Quotation Follow Up</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </template>
        </DatatableWithCard>
        <form @submit.prevent="assignSalesPersonForm()" enctype="multipart/form-data" id="assignSalesPersonForm">
            <my-modal modal_size="modal-lg" modal_class="MyModal" modal_bg="bg-info">
                <template #modalTitle> Assign Sales Person </template>
                <template #modalBody>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Sales Person</label>
                                <select class="form-control select2" v-model="assignSurveyorInfo.assigned_salesperson" name="salesperson_id">
                                    <option value="" selected="" disabled="">Select Sales Person</option>
                                    <option v-for="(salesperson,index) in salespersons" :value="salesperson.id">{{salesperson.first_name+' '+salesperson.last_name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </template>
                <template #modalFooter>
                    <button class="btn btn-info pull-right">Assign</button>
                    <button class="btn btn-info pull-right" data-dismiss="modal" aria-label="Close">Cancel</button>
                </template>
            </my-modal>
        </form>

        <my-modal modal_size="modal-lg" modal_class="MyModalFollowup" modal_bg="bg-info">
            <template #modalTitle> Follow Up </template>
            <template #modalBody>
                <div class="form-group">
                    <label>Comment</label>
                    <fieldset class="form-group position-relative has-icon-left">
                        <textarea class="form-control" v-model="followUpInfo.comments" placeholder="Enter Comments Here..."></textarea>
                        <div class="form-control-position">
                            <i class="la la-info-circle info"></i>
                        </div>
                    </fieldset>
                </div>
                <div class="form-group">
                    <label>Follow Up Through</label>
                    <fieldset class="form-group position-relative has-icon-left">
                        <input type="checkbox" v-model="followUpInfo.email" class="form-control" value="1"> Email
                        <input type="checkbox" v-model="followUpInfo.call" class="form-control" value="1"> Call
                    </fieldset>
                </div>
            </template>
            <template #modalFooter>
                <button class="btn btn-info pull-right" @click="customerFollowUp()">Submit</button>
                <button class="btn btn-info pull-right" data-dismiss="modal" aria-label="Close">Cancel</button>
            </template>
        </my-modal>

    </span>
</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import MyModal from '../../PartialViews/Modal/bsModal';
    import DatatableWithCard from '../../PartialViews/Datatable/datatableWithCard';
    export default {
        mixins: [globalMixin],
        components:{
            DatatableWithCard,
            MyModal,
        },
        data: function () {
            return {
                quotations:[],
                salespersons:[],
                is_loading:1,
                assignSurveyorInfo:{
                    assigned_salesperson:'',
                    quotation_id:'',
                    index:'',
                },
                followUpInfo:{
                    quotation_id:'',
                    index:'',
                    comments:'',
                    email:'',
                    call:''
                },
            }
        },
        created() {
            var app = this;
            app.quotationWithoutFollowUps();
        },
        mounted(){
            var app = this;
        },
        methods: {
            async quotationWithoutFollowUps()
            {
                var app = this;
                await axios.get('salesperson/pendingFollowups')
                    .then(function (resp) {
                        app.quotations = resp.data.data.quotations;
                        app.salespersons = resp.data.data.salespersons;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
                app.initializeDatatable();
                app.is_loading = 0;
            },
            openAssignSurveyorModal(quotation,index){

                this.assignSurveyorInfo.assigned_salesperson = quotation.salesperson.id;
                this.assignSurveyorInfo.quotation_id = quotation.id;
                this.assignSurveyorInfo.index = index;
                $('.MyModal').modal({backdrop: 'static', keyboard: false});
                $('.MyModal').modal('show');
            },
            openFollowupModal(quotation,index){

                this.followUpInfo.quotation_id = quotation.id;
                this.followUpInfo.comments = '';
                this.followUpInfo.email = '';
                this.followUpInfo.call = '';
                this.followUpInfo.index = quotation.index;
                $('.MyModalFollowup').modal({backdrop: 'static', keyboard: false});
                $('.MyModalFollowup').modal('show');
            },
            assignSalesPersonForm(quotation_id,index)
            {
                var app = this;
                var formData = new FormData(document.getElementById('assignSalesPersonForm'));

                axios.post('salesperson/assignSalesPerson/'+app.assignSurveyorInfo.quotation_id,formData)
                    .then(function (resp) {
                        if(resp.data.code == 422)
                        {
                            toastr.error(resp.data.message);
                        }
                        else
                        {
                            app.quotations[app.assignSurveyorInfo.index].salesperson = resp.data.data.salesperson;
                            $('.MyModal').modal('hide');
                            app.successToastr("Success", resp.data.message);
                        }
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        toastr.error("Could not Assign your Sales Person");
                    });
            },
            customerFollowUp()
            {
                var app = this;
                if(app.followUpInfo.comments != '' && (app.followUpInfo.call != '' || app.followUpInfo.email != ''))
                {
                    swal({
                        title: "Quotation Follow Up",
                        text: "Are you sure you have done Follow up ?",
                        icon: "warning",
                        buttons: {
                            cancel: {
                                text: "No, cancel please!",
                                value: null,
                                visible: true,
                                className: "",
                                closeModal: false,
                            },
                            confirm: {
                                text: "Yes, Continue!!!",
                                value: true,
                                visible: true,
                                className: "",
                                closeModal: false
                            }
                        }
                    }).then(isConfirm => {
                        if (isConfirm) {
                            axios.post('salesperson/customerFollowUp/'+app.followUpInfo.quotation_id,app.followUpInfo)
                                .then(function (resp) {
                                    if(resp.data.code == 422)
                                    {
                                        toastr.error(resp.data.message);
                                    }
                                    else
                                    {
                                        app.successToastr("Success", resp.data.message);
                                        app.quotations.splice(app.followUpInfo.index,1);
                                        swal("Success", "Followed Up Successfully !!!", "success");
                                        $('.MyModalFollowup').modal('hide');
                                    }
                                })
                                .catch(function (resp) {
                                    console.log(resp);
                                    toastr.error("Could not Updated Your Followed Up Status");
                                });
                        } else {
                            $('.MyModalFollowup').modal('hide');
                            swal("Cancelled", "It's safe.", "error");
                        }
                    });
                }
                else
                {
                    toastr.error("Please Fill Up The Fields.");
                }
            }
        }
    }
</script>
