<template>
    <card>
        <template #cardTitle>Edit Sales Person</template>
        <template #cardBody>
            <go-back></go-back>
            <form @submit.prevent="saveForm()" class="mt-1">
                <div class="form-body">
                    <h4 class="form-section"><i class="ft-user"></i>General Info</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Select Role</label>
                                <select class="form-control" v-model="user.role_id">
                                    <option value="" selected="" disabled="">Select Role</option>
                                    <option v-for="(role,index) in roles" :value="role.id">{{role.name}}</option>
                                </select>
                                <div v-if="errors.role_id">
                                    <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.role_id">
                                        <small class="block-area white">{{error}}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="user.first_name" class="form-control" placeholder="Enter First Name">
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                    <div v-if="errors.first_name">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.first_name">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="user.last_name" class="form-control" placeholder="Enter Last Name">
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                    <div v-if="errors.last_name">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.last_name">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="user.email" class="form-control" placeholder="Enter Email">
                                    <div class="form-control-position">
                                        <i class="la la-envelope primary"></i>
                                    </div>
                                    <div v-if="errors.email">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.email">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Password</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="user.password" class="form-control" placeholder="Enter Passwrod">
                                    <div class="form-control-position">
                                        <i class="ft-hash primary"></i>
                                    </div>
                                    <div v-if="errors.password">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.password">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-body" v-if="sales_person_id == login_user_id || login_user_role.name == 'admin'">
                    <h4 class="form-section"><i class="la la-gear"></i>Email Setting</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Mail Host</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="user.host" class="form-control" placeholder="Enter Mail Host">
                                    <div class="form-control-position">
                                        <i class="la la-server primary"></i>
                                    </div>
                                    <div v-if="errors.host">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.host">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email Address</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="user.email_username" class="form-control" placeholder="Enter Email Address">
                                    <div class="form-control-position">
                                        <i class="la la-envelope primary"></i>
                                    </div>
                                    <div v-if="errors.email_username">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.email_username">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email Password</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="password" v-model="user.email_password" class="form-control" placeholder="Enter Mail Password">
                                    <div class="form-control-position">
                                        <i class="la la-key primary"></i>
                                    </div>
                                    <div v-if="errors.email_password">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.email_password">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-success btn-glow float-right mb-2"><i class="la la-check-o"></i>Update</button>
                </div>
            </form>
        </template>
    </card>
</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import Card from '../../PartialViews/Card/bsCard';
    import GoBack from '../../PartialViews/goBack';
    export default {
        mixins: [globalMixin],
        components:{
            Card,
            GoBack,
        },
        data: function () {
            return {
                sales_person_id:'',
                user:{role_id:""},
                login_user_id:'',
                roles:[],
                errors:[],
                login_user_role:{},
            }
        },
        created() {
            var app = this;
            let id = app.$route.params.id;
            app.sales_person_id = id;
            axios.get('salesperson/salesperson/'+app.sales_person_id+'/edit')
                .then(function (resp) {
                    app.roles = resp.data.data.roles;
                    app.user = resp.data.data.sales_person;
                    app.user.role_id = resp.data.data.sales_person_role.id;
                    app.login_user_role = resp.data.data.login_user_role;
                    app.login_user_id = resp.data.data.login_user_id;
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        mounted(){

        },
        methods: {
            saveForm() {
                var app = this;
                axios.patch('salesperson/salesperson/'+app.sales_person_id, app.user)
                    .then(function (resp) {
                        if (resp.data.code == 422) {
                            app.dangerToastr("Error", resp.data.message);
                        } else {
                            if(app.sales_person_id == app.login_user_id)
                            {
                                $('.user-name').html(app.user.first_name+' '+app.user.last_name);
                            }
                            app.successToastr("Success", resp.data.message);
                            app.$router.push({name: 'listSalesPerson'});
                        }
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                        app.dangerToastr("Error", "Please fill up the fields");
                    });
            }
        }
    }
</script>