<template>

    <DatatableWithCard :is_loading=is_loading>
        <template #cardTitle>Sales Persons List</template>
        <template #tHeader>
            <router-link class="btn btn-info mr-1 mt-1 btn-sm btn-glow pull-right tooltip-info" :to="{name:'createSalesPerson'}" title="Add New Sales Person"><i class="la la-plus font-medium-1"></i>Sales Person</router-link>
        </template>
        <template #tHead>
            <thead>
            <tr class="bg-info text-white">
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
            </thead>
        </template>
        <template #tBody>
            <tbody>
            <tr v-for="(salesperson,index) in salespersons">
                <td>{{ index + 1 }}</td>
                <td>{{ salesperson.first_name }}</td>
                <td>{{ salesperson.last_name }}</td>
                <td>{{ salesperson.email }}</td>
                <td>{{ salesperson.role.name }}</td>
                <td>{{ salesperson.created_at }}</td>
                <td>
                    <router-link class="btn btn-icon btn-info tooltip-info tooltip-vue" v-can="'sales_person-edit'" title="Edit Sales Person" :to="{name:'editSalesPerson', params: {id: salesperson.id}}"><i class="la la-pencil text-white"></i></router-link>
                    <a class="btn btn-icon btn-danger tooltip-danger tooltip-vue" title="Delete Sales Person" v-can="'sales_person-delete'" @click="deleteSalesPerson(salesperson.id,index)"><i class="la la-trash text-white"></i></a>
                </td>
            </tr>
            </tbody>
        </template>
    </DatatableWithCard>

</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import DatatableWithCard from '../../PartialViews/Datatable/datatableWithCard';
    export default {
        mixins: [globalMixin],
        components:{
            DatatableWithCard,
        },
        data: function () {
            return {
                salespersons:[],
                is_loading:1,
            }
        },
        created() {
            var app = this;
            app.getSalesPerson();
        },
        mounted(){
            var app = this;
        },
        methods: {
            async getSalesPerson()
            {
                var app = this;
                await axios.get('salesperson/salesperson')
                    .then(function (resp) {
                        app.salespersons = resp.data.data.salespersons;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
                app.initializeDatatable();
                app.is_loading = 0;
            },
            deleteSalesPerson(id,index) {
                var app = this;
                swal({
                    title: "Sales Person Deletion",
                    text: "Are you sure you want to delete sales person?",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "No, cancel please!",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                        },
                        confirm: {
                            text: "Yes, Continue!!!",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                }).then(isConfirm => {
                    if (isConfirm) {
                        axios.delete('salesperson/salesperson/' + id)
                            .then(function (resp) {
                                app.salespersons.splice(index, 1);
                                swal("Success", "Sales Person Deleted Successfully!!!", "success");
                            })
                            .catch(function (resp) {
                                console.log(resp);
                                app.dangerToastr("Error", "Could not delete the role");
                            });
                    } else {

                        swal("Cancelled", "It's safe.", "error");
                    }
                });
            }
        }
    }
</script>
