<template>
    <card>
        <template #cardTitle>Edit Role</template>
        <template #cardBody>
            <go-back></go-back>
            <form @submit.prevent="saveForm()" id="submitRoleForm" class="mt-1">
                <div class="form-body">
                    <h4 class="form-section"><i class="ft-user"></i>General Info</h4>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Role Name</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" name="role_name" v-model="role.name" class="form-control role_name" placeholder="Enter Role Name">
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                    <div v-if="errors.role_name">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.role_name">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-body">
                    <h4 class="form-section"><i class="la la-check-square"></i>Select Permissions</h4>

                    <div class="col-12 col-xl-12" v-if="errors.permissions">
                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.permissions">
                            <small class="block-area white">{{error}}</small>
                        </p>
                    </div>

                    <div class="col-12 col-xl-12" v-for="(permissions_titles,name) in permissions">
                        <div class="card collapse-icon accordion-icon-rotate">
                            <div>
                                <div :id="'heading'+name" class="card-header bg-info p-1 bg-lighten-1">
                                    <a data-toggle="collapse" aria-expanded="true" :href="'#accordion'+name" class="card-title lead white">{{name.replace(/_/g, ' ').toUpperCase()}}</a>
                                </div>
                                <div :id="'accordion'+name" role="tabpanel" class="card-collapse collapse show">
                                    <div class="card-content">
                                        <div class="card-body p-0">
                                            <div class="media-list list-group">
                                                <div class="list-group-item media p-1">
                                                    <div class="row">
                                                        <div class="col-xl-3" v-for="(permission,index) in permissions_titles">
                                                            <fieldset>
                                                                <input type="checkbox" :checked="selected_permissions && selected_permissions.includes(name+'-'+permission)" :name="'permissions['+name+'-'+permission+']'" :value="name+'-'+permission">
                                                                <label>{{permission.toUpperCase()}}</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-success btn-glow float-right mb-2"><i class="la la-check-o"></i>Update</button>
                </div>
            </form>
        </template>
    </card>
</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import Card from '../../PartialViews/Card/bsCard';
    import GoBack from '../../PartialViews/goBack';
    export default {
        mixins: [globalMixin],
        components:{
            Card,
            GoBack
        },
        data: function () {
            return {
                role_id:'',
                role:[],
                permissions:[],
                selected_permissions:[],
                errors:{},
            }
        },
        created() {
            var app = this;
            let id = app.$route.params.id;
            app.role_id = id;
            axios.get('salesperson/roles/'+app.role_id+'/edit')
                .then(function (resp) {
                    app.permissions = resp.data.data.permissions;
                    app.role = resp.data.data.role;
                    app.selected_permissions = resp.data.data.role_permissions;
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        mounted(){
            var app = this;
        },
        methods: {
            saveForm(){
                var app = this;
                var formData = new FormData(document.getElementById('submitRoleForm'));
                formData.append('_method', 'PATCH')
                axios.post('salesperson/roles/'+app.role_id, formData)
                    .then(function (resp) {
                        if(resp.data.code == 422)
                        {
                            app.dangerToastr("Error",resp.data.message);
                        }
                        else
                        {
                            app.successToastr("Success",resp.data.message);
                            location.reload();
                            // app.$router.push({name:'listRoles'});
                        }
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                        app.dangerToastr("Error","Please fill up the fields");
                    });
            }
        }
    }
</script>