<template>

    <DatatableWithCard :is_loading=is_loading>
        <template #cardTitle>Roles</template>
        <template #tHeader>
            <router-link class="btn btn-info mr-1 mt-1 btn-sm btn-glow pull-right tooltip-info" :to="{name:'createRoles'}" title="Create New Role"><i class="la la-plus font-medium-1"></i>Role</router-link>
        </template>
        <template #tHead>
            <thead>
            <tr class="bg-info text-white">
                <th>#</th>
                <th>Name</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
            </thead>
        </template>
        <template #tBody>
            <tbody>
                <tr v-for="(role,index) in roles">
                    <td>{{index + 1}}</td>
                    <td>{{role.name}}</td>
                    <td>{{role.created_at}}</td>
                    <td>
                        <router-link class="btn btn-icon btn-info tooltip-info tooltip-vue" v-can="'roles-edit'" title="Edit Role" :to="{name:'editRoles', params: {id: role.id}}"><i class="la la-pencil text-white"></i></router-link>
                        <a class="btn btn-icon btn-danger tooltip-danger tooltip-vue" title="Delete Role" v-can="'roles-delete'" @click="deleteRole(role.id,index)"><i class="la la-trash text-white"></i></a>
                    </td>
                </tr>
            </tbody>
        </template>
    </DatatableWithCard>

</template>


<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import DatatableWithCard from '../../PartialViews/Datatable/datatableWithCard';
    export default {
        mixins: [globalMixin],
        components:{
            DatatableWithCard,
        },
        data: function () {
            return {
                roles:[],
                is_loading:1,
            }
        },
        created() {
            var app = this;
            app.getRoles();
        },
        mounted(){
            var app = this;
        },
        methods: {
            async getRoles()
            {
                var app = this;
                await axios.get('salesperson/roles')
                    .then(function (resp) {
                        app.roles = resp.data.data.roles;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
                app.initializeDatatable();
                app.is_loading = 0;
            },
            deleteRole(id,index){
                var app = this;
                swal({
                    title: "Role Deletion",
                    text: "Are you sure you want to delete the role?",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "No, cancel please!",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                        },
                        confirm: {
                            text: "Yes, Continue!!!",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                }).then(isConfirm => {
                    if (isConfirm) {
                        axios.delete('salesperson/roles/' + id)
                            .then(function (resp) {
                                if(resp.data.code == 422)
                                {
                                    app.warningToastr("Error",resp.data.message);
                                    swal("Warning", resp.data.message, "warning");
                                }
                                else {
                                    app.roles.splice(index, 1);
                                    swal("Success", "Role Deleted Successfully!!!", "success");
                                }
                            })
                            .catch(function (resp) {
                                console.log(resp);
                                app.dangerToastr("Error","Could not delete the role");
                            });
                    } else {

                        swal("Cancelled", "It's safe.", "error");
                    }
                });
            },
        }
    }
</script>
