<template>
    <div :class="'modal animated fadeIn text-left '+modal_class">
        <div :class="'modal-dialog '+modal_size"> <!-- modal size class needs to be added in this -->
            <div class="modal-content">
                <div :class="'modal-header '+modal_bg"> <!-- background class needs to be added in this -->
                    <h4 class="modal-title text-white">
                        <slot name="modalTitle"></slot>
                    </h4>
<!--                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                </div>

                <div class="modal-body">
                    <slot name="modalBody"></slot>
                </div>
                <div class="modal-footer">
                    <slot name="modalFooter"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['modal_size','modal_class','modal_bg'],
        data: function () {
            return {

            }
        },
        created() {

        },
        mounted(){

        },
        methods: {

        }
    }
</script>