<template>
    <span>
        <DatatableWithCard :is_loading=is_loading>
            <template #cardTitle>Accounts</template>
            <template #tHeader></template>
            <template #tHead>
                <thead>
                <tr class="bg-info text-white">
                    <th>#</th>
                    <th>Quote #</th>
                    <th>Customer</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th>Sales Person</th>
                    <th>Acccepted By</th>
                    <th>Grand Total</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
                </thead>
            </template>
            <template #tBody>
                <tbody>
                <tr v-for="(quotation,index) in quotations">
                    <td>{{ index + 1 }}</td>
                    <td>{{ quotation.quote_no }}</td>
                    <td>{{ quotation.customer ? quotation.customer.first_name+' '+quotation.customer.last_name : 'N/A'}}</td>
                    <td>{{ quotation.email }}</td>
                    <td>{{ quotation.contact_no }}</td>
                    <td>{{ quotation.salesperson ? quotation.salesperson.first_name+' '+quotation.salesperson.last_name : 'N/A' }}</td>
                    <td>
                        <button type="button" v-if="quotation.accepted_by && quotation.accepted_by.user_type === 'customer'" class="btn btn-sm btn-outline-warning round">customer</button>
                        <button type="button" v-else-if="quotation.accepted_by && quotation.accepted_by.user_type === 'salesperson'" class="btn btn-sm btn-outline-success round">sales person</button>
                        <button type="button" v-else class="btn btn-sm btn-outline-danger round">N/A</button>
                    </td>
                    <td>{{ quotation.grand_total }}</td>
                    <td>{{ quotation.created_at }}</td>
                    <td>
                        <div class="form-group">
                            <div class="btn-group mr-1 mb-1">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Action</button>
                                <div class="dropdown-menu">
                                    <router-link class="dropdown-item tooltip-info tooltip-vue" v-can="'price_comparison-view'" :to="{name:'viewPriceComparison', params: {id: quotation.id}}">View Quotation</router-link>
                                    <router-link class="dropdown-item tooltip-info tooltip-vue" v-can="'invoice-view'" :to="{name:'invoice', params: {id: quotation.id}}">View Invoice</router-link>
                                    <router-link class="dropdown-item tooltip-info tooltip-vue" v-can="'follow_up-list'" :to="{name:'followUpListing', params: {id: quotation.id}}">Follow Up Listing</router-link>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </template>
        </DatatableWithCard>
        <form @submit.prevent="assignSalesPersonForm()" enctype="multipart/form-data" id="assignSalesPersonForm">
            <my-modal modal_size="modal-lg" modal_class="MyModal" modal_bg="bg-info">
                <template #modalTitle> Assign Sales Person </template>
                <template #modalBody>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Sales Person</label>
                                <select class="form-control select2" v-model="assignSurveyorInfo.assigned_salesperson" name="salesperson_id">
                                    <option value="" selected="" disabled="">Select Sales Person</option>
                                    <option v-for="(salesperson,index) in salespersons" :value="salesperson.id">{{salesperson.first_name+' '+salesperson.last_name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </template>
                <template #modalFooter>
                    <button class="btn btn-info pull-right">Assign</button>
                    <button class="btn btn-info pull-right" data-dismiss="modal" aria-label="Close">Cancel</button>
                </template>
            </my-modal>
        </form>
    </span>
</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import MyModal from '../../PartialViews/Modal/bsModal';
    import DatatableWithCard from '../../PartialViews/Datatable/datatableWithCard';
    export default {
        mixins: [globalMixin],
        components:{
            DatatableWithCard,
            MyModal,
        },
        data: function () {
            return {
                quotations:[],
                salespersons:[],
                is_loading:1,
                assignSurveyorInfo:{
                    assigned_salesperson:'',
                    quotation_id:'',
                    index:'',
                },
            }
        },
        created() {
            var app = this;
            app.getQuotations();
        },
        mounted(){
            var app = this;
        },
        methods: {
            async getQuotations()
            {
                var app = this;
                await axios.get('salesperson/account')
                    .then(function (resp) {
                        app.quotations = resp.data.data.quotations;
                        app.salespersons = resp.data.data.salespersons;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
                app.initializeDatatable();
                app.is_loading = 0;
            },
        }
    }
</script>
