<template>
    <card>
        <template #cardTitle>Request For Quotation</template>
        <template #cardBody>
            <go-back></go-back>
            <form id="prepareQuotation">
                <div class="form-body">
                    <h4 class="form-section"><i class="ft-user"></i>General Info</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Quotation Number</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="quotation.quote_no" class="form-control" readonly>
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Customer ID</label>
                                    <input type="text" v-model="selected_customer.customer_no" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="selected_customer.first_name+' '+selected_customer.last_name" class="form-control" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Company</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="selected_customer.company_name" class="form-control" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-building primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="selected_customer.email" class="form-control" readonly>
                                    <div class="form-control-position">
                                        <i class="la la-envelope primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Phone</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="selected_customer.contact_no" class="form-control" readonly>
                                    <div class="form-control-position">
                                        <i class="ft-phone-call primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Sales Person</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="salesperson.first_name+' '+salesperson.last_name" class="form-control" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="date" v-model="quotation.created_at" class="form-control" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-calendar primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Quotation Expiry</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="date" v-model="quotation.quotation_expiry" name="quotation_expiry" class="form-control" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-calendar primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Additional Instruction</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <textarea class="form-control" v-model="quotation.additional_instructions" disabled></textarea>
                                    <div class="form-control-position">
                                        <i class="la la-calendar primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-body">
                    <div v-for="(added_row,index) in part_added_rows">
                        <h4 class="form-section primary"><i class="la la-gear primary"></i>{{ added_row.name }}</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Part Number</label>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="text" class="form-control" v-model="added_row.part_no" disabled>
                                            <input type="hidden" name="part_id[]" v-model="added_row.id">
                                            <div class="form-control-position">
                                                <i class="ft-hash primary"></i>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Part Name</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" class="form-control" v-model="added_row.name" disabled>
                                        <div class="form-control-position">
                                            <i class="la la-user primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" class="form-control" v-model="added_row.quantity" disabled>
                                        <div class="form-control-position">
                                            <i class="ft-hash primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Condition</label>
                                        <input type="text" class="form-control" v-model="added_row.condition" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Target Price</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" v-model="added_row.price" class="form-control" disabled>
                                        <div class="form-control-position">
                                            <i class="la la-money primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Extended Price</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" v-model="added_row.extended_price" class="form-control" disabled>
                                        <div class="form-control-position">
                                            <i class="la la-money primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <!-- First Cheapest Price -->
                        <h6 class="form-section">First Cheapest Price</h6>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>1st Cheaptest Price</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" class="form-control" v-model="added_row.fst_cheapest_price" name="fst_cheapest_price[]" Placeholder="Enter First Cheapest Price">
                                        <div class="form-control-position">
                                            <i class="la la-money primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" class="form-control" v-model="added_row.fst_company_name" name="fst_company_name[]" Placeholder="Enter Source Company Name">
                                        <div class="form-control-position">
                                            <i class="la la-building primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Product URL/Sales Person Name</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" class="form-control" v-model="added_row.fst_product_url" name="fst_product_url[]" Placeholder="https://dummyurl.com/JohnDoe">
                                        <div class="form-control-position">
                                            <i class="la la-globe primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Stock</label>
                                        <select class="form-control" v-model="added_row.fst_stock" name="fst_stock[]">
                                            <option :value="'Instock'">In Stock</option>
                                            <option :value="'Outstock'">Out Stock</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Lead Time Type</label>
                                    <select class="form-control" v-model="added_row.fst_lead_time_type" name="fst_lead_time_type[]">
                                        <option value="">Select Lead Time Type</option>
                                        <option :value="'day'">Day</option>
                                        <option :value="'week'">Week</option>
                                        <option :value="'month'">Month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Lead Time Value</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" class="form-control" v-model="added_row.fst_lead_time_value" placeholder="Enter Lead Time Value" name="fst_lead_time_value[]">
                                        <div class="form-control-position">
                                            <i class="ft-hash primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Additional Information</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <textarea class="form-control" v-model="added_row.fst_additional_info" name="fst_additional_info[]" Placeholder="Enter Additional Information Here..."></textarea>
                                        <div class="form-control-position">
                                            <i class="la la-info-circle primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <!-- Second Cheapest Price -->
                        <h6 class="form-section">Second Cheapest Price</h6>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>2nd Cheaptest Price</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" class="form-control" v-model="added_row.second_cheapest_price" name="second_cheapest_price[]" Placeholder="Enter First Cheapest Price">
                                        <div class="form-control-position">
                                            <i class="la la-money primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" class="form-control" v-model="added_row.second_company_name" name="second_company_name[]" Placeholder="Enter Source Company Name">
                                        <div class="form-control-position">
                                            <i class="la la-building primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Product URL/Sales Person Name</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" class="form-control" v-model="added_row.second_product_url" name="second_product_url[]" Placeholder="https://dummyurl.com/JohnDoe">
                                        <div class="form-control-position">
                                            <i class="la la-globe primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Stock</label>
                                        <select class="form-control" v-model="added_row.second_stock" name="second_stock[]">
                                            <option :value="'Instock'">In Stock</option>
                                            <option :value="'Outstock'">Out Stock</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Lead Time Type</label>
                                    <select class="form-control" v-model="added_row.second_lead_time_type" name="second_lead_time_type[]">
                                        <option value="">Select Lead Time Type</option>
                                        <option :value="'day'">Day</option>
                                        <option :value="'week'">Week</option>
                                        <option :value="'month'">Month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Lead Time Value</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" class="form-control" v-model="added_row.second_lead_time_value" placeholder="Enter Lead Time Value" name="second_lead_time_value[]">
                                        <div class="form-control-position">
                                            <i class="ft-hash primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Additional Information</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <textarea class="form-control" v-model="added_row.second_additional_info" name="second_additional_info[]" Placeholder="Enter Additional Information Here..."></textarea>
                                        <div class="form-control-position">
                                            <i class="la la-info-circle primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <!-- Third Cheapest Price -->
                        <h6 class="form-section">Third Cheapest Price</h6>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>3rd Cheaptest Price</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" class="form-control" v-model="added_row.third_cheapest_price" name="third_cheapest_price[]" Placeholder="Enter First Cheapest Price">
                                        <div class="form-control-position">
                                            <i class="la la-money primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" class="form-control" v-model="added_row.third_company_name" name="third_company_name[]" Placeholder="Enter Source Company Name">
                                        <div class="form-control-position">
                                            <i class="la la-building primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Product URL/Sales Person Name</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" class="form-control" v-model="added_row.third_product_url" name="third_product_url[]" Placeholder="https://dummyurl.com/JohnDoe">
                                        <div class="form-control-position">
                                            <i class="la la-globe primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Stock</label>
                                        <select class="form-control" v-model="added_row.third_stock" name="third_stock[]">
                                            <option :value="'Instock'">In Stock</option>
                                            <option :value="'Outstock'">Out Stock</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Lead Time Type</label>
                                    <select class="form-control" v-model="added_row.third_lead_time_type" name="third_lead_time_type[]">
                                        <option value="">Select Lead Time Type</option>
                                        <option :value="'day'">Day</option>
                                        <option :value="'week'">Week</option>
                                        <option :value="'month'">Month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Lead Time Value</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" class="form-control" v-model="added_row.third_lead_time_value" placeholder="Enter Lead Time Value" name="third_lead_time_value[]">
                                        <div class="form-control-position">
                                            <i class="ft-hash primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Additional Information</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <textarea class="form-control" v-model="added_row.third_additional_info" name="third_additional_info[]" Placeholder="Enter Additional Information Here..."></textarea>
                                        <div class="form-control-position">
                                            <i class="la la-info-circle primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <!-- Quoted Price -->
                        <h6 class="form-section">Quoted Price</h6>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Quoted Price</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" class="form-control" v-model="added_row.quoted_price" name="quoted_price[]" Placeholder="Enter Quoted Price">
                                        <div class="form-control-position">
                                            <i class="la la-money primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Source Price</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" class="form-control" v-model="added_row.source_price" name="source_price[]" Placeholder="Enter Source Price">
                                        <div class="form-control-position">
                                            <i class="la la-money primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Extended Price</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" class="form-control" v-model="added_row.quantity * added_row.quoted_price" name="grand_extended_price[]" Placeholder="Enter Price" readonly style="pointer-events: none">
                                        <div class="form-control-position">
                                            <i class="la la-money primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Source Company</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" class="form-control" v-model="added_row.source_company" name="source_company[]" Placeholder="Enter Source Company">
                                        <div class="form-control-position">
                                            <i class="la la-globe primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Custom Note</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <textarea class="form-control" v-model="added_row.custom_note" name="custom_note[]" Placeholder="Enter Customer Note..."></textarea>
                                        <div class="form-control-position">
                                            <i class="la la-info-circle primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <a @click="saveForm('submit')" class="btn btn-success text-white btn-glow float-right mb-2">Submit</a>
                    <a @click="saveForm('sendQuotation')" v-can="'review_quotation-edit'" class="btn btn-success text-white btn-glow float-right mr-1 tooltip-info tooltip-vue">Review Quotation</a>
                </div>
            </form>
        </template>
    </card>
</template>

<script>
    import { globalMixin } from '../../../../mixins/mixin.js'
    import Card from '../../../PartialViews/Card/bsCard';
    import GoBack from '../../../PartialViews/goBack';
    export default {
        mixins: [globalMixin],
        components:{
            Card,
            GoBack
        },
        data: function () {
            return {
                quotation_id:'',
                quotation:{},
                selected_customer:{first_name:'',last_name:''},
                salesperson:{first_name:'',last_name:''},
                part_added_rows:[],
                submitButton:0,
                sendQuotationButton:0,
            }
        },
        created() {
            var app = this;
            let id = app.$route.params.id;
            app.quotation_id = id;
            axios.get('salesperson/price_comparison/'+app.quotation_id+'/edit')
                .then(function (resp) {
                    app.quotation = resp.data.data.quotation;
                    app.selected_customer = resp.data.data.quotation.customer;
                    app.part_added_rows = resp.data.data.quotation.parts;
                    app.salesperson = resp.data.data.salesperson;
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        mounted(){

        },
        methods: {
            saveForm(btnName) {
                var app = this;
                var formData = new FormData(document.getElementById('prepareQuotation'));
                axios.post('salesperson/createPriceComparison/'+app.quotation_id, formData)
                    .then(function (resp) {
                        if (resp.data.code == 422) {
                            app.dangerToastr("Error", resp.data.message);
                        } else {
                            app.successToastr("Success", resp.data.message);
                            console.log(btnName);
                            if(btnName === 'submit')
                                app.$router.push({name: 'priceComparison'});
                            else
                                app.$router.push({name:'reviewQuotation', params: {id: app.quotation_id}});
                        }
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                        console.log(app.errors);
                        app.dangerToastr("Error", "Please fill up the fields");
                    });
            },
        }
    }
</script>