<template>

    <span>
        <DatatableWithCard :is_loading=is_loading>
            <template #cardTitle>Price Comparison</template>
            <template #tHeader></template>
            <template #tHead>
                <thead>
                <tr class="bg-info text-white">
                    <th>#</th>
                    <th>Quote #</th>
                    <th>Customer</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th>Sales Person</th>
                    <th>Status</th>
                    <th>Quotation Date</th>
                    <th>Action</th>
                </tr>
                </thead>
            </template>
            <template #tBody>
                <tbody>
                <tr v-for="(quotation,index) in quotations">
                    <td>{{ index + 1 }}</td>
                    <td>{{ quotation.quote_no }}</td>
                    <td>{{ quotation.customer ? quotation.customer.first_name+' '+quotation.customer.last_name : 'N/A' }}</td>
                    <td>{{ quotation.email }}</td>
                    <td>{{ quotation.contact_no }}</td>
                    <td>{{ quotation.salesperson ? quotation.salesperson.first_name+' '+quotation.salesperson.last_name : 'N/A' }}</td>
                    <td>{{ quotation.status }}</td>
                    <td>{{ quotation.created_at }}</td>
                    <td>
                        <div class="form-group">
                            <div class="btn-group mr-1 mb-1">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Action</button>
                                <div class="dropdown-menu">
                                    <router-link class="dropdown-item tooltip-info tooltip-vue" title="View Quotation" v-can="'price_comparison-view'" :to="{name:'viewPriceComparison', params: {id: quotation.id}}">View</router-link>
                                    <router-link class="dropdown-item tooltip-info tooltip-vue" title="Edit Quotation" v-can="'price_comparison-edit'" :to="{name:'editPriceComparison', params: {id: quotation.id}}">Edit</router-link>
                                    <router-link class="dropdown-item tooltip-info tooltip-vue" title="Send Quotation" v-can="'review_quotation-edit'" :to="{name:'reviewQuotation', params: {id: quotation.id}}">Review Quotation</router-link>
                                    <router-link v-if="quotation.grand_total > 0" class="dropdown-item tooltip-info tooltip-vue" v-can="'invoice-create'" title="Generate Invoice" :to="{name:'invoice', params: {id: quotation.id}}">Generate Invoice</router-link>
                                    <a class="dropdown-item tooltip-vue tooltip-info" title="Assign Surveyor" v-can="'assign_sales_person-edit'"  @click="openAssignSurveyorModal(quotation,index)">Assign Sales Person</a>
                                    <a class="dropdown-item tooltip-danger tooltip-vue" title="Delete Quotation" v-can="'request_for_quotation-delete'"  @click="deleteQuotation(quotation.id,index)">Delete</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </template>
        </DatatableWithCard>
        <form @submit.prevent="assignSalesPersonForm()" enctype="multipart/form-data" id="assignSalesPersonForm">
            <my-modal modal_size="modal-lg" modal_class="MyModal" modal_bg="bg-info">
                <template #modalTitle> Assign Sales Person </template>
                <template #modalBody>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Sales Person</label>
                                <select class="form-control select2" v-model="assignSurveyorInfo.assigned_salesperson" name="salesperson_id">
                                    <option value="" selected="" disabled="">Select Sales Person</option>
                                    <option v-for="(salesperson,index) in salespersons" :value="salesperson.id">{{salesperson.first_name+' '+salesperson.last_name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </template>
                <template #modalFooter>
                    <button class="btn btn-info pull-right">Assign</button>
                    <button class="btn btn-info pull-right" data-dismiss="modal" aria-label="Close">Cancel</button>
                </template>
            </my-modal>
        </form>

    </span>

</template>

<script>
    import { globalMixin } from '../../../../mixins/mixin.js'
    import MyModal from '../../../PartialViews/Modal/bsModal';
    import DatatableWithCard from '../../../PartialViews/Datatable/datatableWithCard';
    export default {
        mixins: [globalMixin],
        components:{
            DatatableWithCard,
            MyModal,
        },
        data: function () {
            return {
                quotations:[],
                salespersons:[],
                is_loading:1,
                assignSurveyorInfo:{
                    assigned_salesperson:'',
                    quotation_id:'',
                    index:'',
                },
            }
        },
        created() {
            var app = this;
            app.getSalesPerson();
        },
        mounted(){
            var app = this;
        },
        methods: {
            async getSalesPerson()
            {
                var app = this;
                await axios.get('salesperson/price_comparison')
                    .then(function (resp) {
                        app.quotations = resp.data.data.quotations;
                        app.salespersons = resp.data.data.salespersons;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
                app.initializeDatatable();
                app.is_loading = 0;
            },
            deleteQuotation(id,index) {
                var app = this;
                swal({
                    title: "Quotation Deletion",
                    text: "Are you sure you want to delete Quotation?",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "No, cancel please!",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                        },
                        confirm: {
                            text: "Yes, Continue!!!",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                }).then(isConfirm => {
                    if (isConfirm) {
                        axios.delete('salesperson/request_for_quote/' + id)
                            .then(function (resp) {
                                app.quotations.splice(index, 1);
                                swal("Success", "Quotation Deleted Successfully!!!", "success");
                            })
                            .catch(function (resp) {
                                console.log(resp);
                                app.dangerToastr("Error", "Could not delete the role");
                            });
                    } else {

                        swal("Cancelled", "It's safe.", "error");
                    }
                });
            },
            openAssignSurveyorModal(quotation,index){

                this.assignSurveyorInfo.assigned_salesperson = quotation.salesperson.id;
                this.assignSurveyorInfo.quotation_id = quotation.id;
                this.assignSurveyorInfo.index = index;
                $('.MyModal').modal({backdrop: 'static', keyboard: false});
                $('.MyModal').modal('show');
            },
            assignSalesPersonForm(quotation_id,index)
            {
                var app = this;

                var formData = new FormData(document.getElementById('assignSalesPersonForm'));

                axios.post('salesperson/assignSalesPerson/'+app.assignSurveyorInfo.quotation_id,formData)
                    .then(function (resp) {
                        if(resp.data.code == 422)
                        {
                            toastr.error(resp.data.message);
                        }
                        else
                        {
                            app.quotations[app.assignSurveyorInfo.index].salesperson = resp.data.data.salesperson;
                            $('.MyModal').modal('hide');
                            app.successToastr("Success", resp.data.message);
                        }
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        toastr.error("Could not Assign your Sales Person");
                    });
            }
        }
    }
</script>
