<template>
    <span>

        <alert v-if="quotation.status === 'completed'" alert_bg="bg-success">
            <template #roundAlertText>Quotation has Completed  !!!</template>
        </alert>
        <alert v-if="quotation.status === 'rejected'" alert_bg="bg-danger">
            <template #roundAlertText>Quotation has Rejected  !!!</template>
        </alert>

        <card>
            <template #cardTitle>Request For Quotation</template>
            <template #cardBody>
                <a v-can="'invoice-complete_quotation'" v-if="quotation.purchase_order_uploaded != '0' && quotation.status === 'invoice-sent' && quotation.accepted_by != null" @click="markQuotationComplete()" class="btn btn-primary ml-1 btn-glow pull-right text-white round tooltip-primary" title="Mark Complete" >Complete</a>
                <a v-can="'invoice-upload_purchase_order'" v-if="quotation.status === 'invoice-sent' && quotation.accepted_by != null && quotation.purchase_order_uploaded == '0'" @click="openModalPurchaseOrder()" class="btn btn-primary ml-1 btn-glow pull-right text-white round tooltip-primary" title="Upload Purchase Order"><i class="la la-plus font-medium-1"></i>Purchase Order</a>
                <go-back></go-back>

                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" id="quotation-tab" data-toggle="pill" href="#quotation">Quotation</a>
                    </li>
                    <li class="nav-item" v-if="quotation.status === 'rejected' && rejection_answers.length > 0">
                        <a class="nav-link" id="profileEle-tab" data-toggle="pill" href="#profileEle">Rejection Reason</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active show" id="quotation">
                        <form @submit.prevent="saveForm()" class="mt-1" id="prepareQuotation">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i>General Info</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Quotation Number</label>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" v-model="quotation.quote_no" class="form-control" readonly>
                                                <div class="form-control-position">
                                                    <i class="la la-user primary"></i>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Customer ID</label>
                                                <input type="text" v-model="selected_customer.customer_no" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" v-model="selected_customer.first_name+' '+selected_customer.last_name" class="form-control" disabled>
                                                <div class="form-control-position">
                                                    <i class="la la-user primary"></i>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Company</label>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" v-model="selected_customer.company_name" class="form-control" disabled>
                                                <div class="form-control-position">
                                                    <i class="la la-building primary"></i>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" v-model="selected_customer.email" class="form-control" readonly>
                                                <div class="form-control-position">
                                                    <i class="la la-envelope primary"></i>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" v-model="selected_customer.contact_no" class="form-control" readonly>
                                                <div class="form-control-position">
                                                    <i class="ft-phone-call primary"></i>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Sales Person</label>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" v-model="salesperson.first_name+' '+salesperson.last_name" class="form-control" disabled>
                                                <div class="form-control-position">
                                                    <i class="la la-user primary"></i>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="date" v-model="quotation.created_at" class="form-control" disabled>
                                                <div class="form-control-position">
                                                    <i class="la la-calendar primary"></i>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Quotation Expiry</label>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="date" v-model="quotation.quotation_expiry" name="quotation_expiry" class="form-control" disabled>
                                                <div class="form-control-position">
                                                    <i class="la la-calendar primary"></i>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Additional Instruction</label>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <textarea class="form-control" v-model="quotation.additional_instructions" disabled></textarea>
                                                <div class="form-control-position">
                                                    <i class="la la-calendar primary"></i>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-body" v-if="quotation.purchase_order_uploaded != '0'">
                                <h4 class="form-section primary"><i class="la la-gear primary"></i>Purchase Order</h4>
                                <div class="row mb-2 ml-1">
                                    <div class="col-md-4">
                                        <a :href="'salesperson/downloadPurchaseOrder/'+quotation.id" target="_blank" class="primary"><i class="la la-file-pdf-o primary font-large-4"></i><br>Purchase Order</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-body" v-if="['invoice-sent','completed','rejected'].includes(quotation.status)">
                                <h4 class="form-section primary"><i class="la la-gear primary"></i>Invoice</h4>
                                <div class="row mb-2 ml-1">
                                    <div class="col-md-4">
                                        <a :href="'salesperson/downloadInvoicePdfSalesPerson/'+quotation.id" target="_blank" class="primary"><i class="la la-file-pdf-o primary font-large-4"></i><br>Invoice.pdf</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-body">
                                <div v-for="(added_row,index) in part_added_rows">
                                    <h4 class="form-section primary"><i class="la la-gear primary"></i>{{ added_row.name }}</h4>
                                    <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Part Number</label>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="text" class="form-control" v-model="added_row.part_no" disabled>
                                            <input type="hidden" name="part_id[]" v-model="added_row.id">
                                            <div class="form-control-position">
                                                <i class="ft-hash primary"></i>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Part Name</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" class="form-control" v-model="added_row.name" disabled>
                                        <div class="form-control-position">
                                            <i class="la la-user primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" class="form-control" v-model="added_row.quantity" disabled>
                                        <div class="form-control-position">
                                            <i class="ft-hash primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                                    <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Condition</label>
                                        <input type="text" class="form-control" v-model="added_row.condition" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Target Price</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" v-model="added_row.price" class="form-control" disabled>
                                        <div class="form-control-position">
                                            <i class="la la-money primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Extended Price</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" v-model="added_row.extended_price" class="form-control" disabled>
                                        <div class="form-control-position">
                                            <i class="la la-money primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                                    <!-- First Cheapest Price -->
                                    <h6 class="form-section">First Cheapest Price</h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>1st Cheaptest Price</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="number" class="form-control" v-model="added_row.fst_cheapest_price" name="fst_cheapest_price[]" Placeholder="Enter First Cheapest Price" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-money primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Company Name</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" v-model="added_row.fst_company_name" name="fst_company_name[]" Placeholder="Enter Source Company Name" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-building primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Product URL/Sales Person Name</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" v-model="added_row.fst_product_url" name="fst_product_url[]" Placeholder="https://dummyurl.com/JohnDoe" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-globe primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label>Stock</label>
                                                    <select class="form-control" v-model="added_row.fst_stock" name="fst_stock[]" disabled>
                                                        <option :value="'Instock'">In Stock</option>
                                                        <option :value="'Outstock'">Out Stock</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Lead Time Type</label>
                                                <select class="form-control" v-model="added_row.fst_lead_time_type" name="fst_lead_time_type[]" disabled>
                                                    <option value="">Select Lead Time Type</option>
                                                    <option :value="'day'">Day</option>
                                                    <option :value="'week'">Week</option>
                                                    <option :value="'month'">Month</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Lead Time Value</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="number" class="form-control" v-model="added_row.fst_lead_time_value" placeholder="Enter Lead Time Value" name="fst_lead_time_value[]" disabled>
                                                    <div class="form-control-position">
                                                        <i class="ft-hash primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Additional Information</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <textarea class="form-control" v-model="added_row.fst_additional_info" name="fst_additional_info[]" Placeholder="Enter Additional Information Here..." disabled></textarea>
                                                    <div class="form-control-position">
                                                        <i class="la la-info-circle primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Second Cheapest Price -->
                                    <h6 class="form-section">Second Cheapest Pric</h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>2nd Cheaptest Price</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="number" class="form-control" v-model="added_row.second_cheapest_price" name="second_cheapest_price[]" Placeholder="Enter First Cheapest Price" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-money primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Company Name</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" v-model="added_row.second_company_name" name="second_company_name[]" Placeholder="Enter Source Company Name" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-building primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Product URL/Sales Person Name</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" v-model="added_row.second_product_url" name="second_product_url[]" Placeholder="https://dummyurl.com/JohnDoe" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-globe primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label>Stock</label>
                                                    <select class="form-control" v-model="added_row.second_stock" name="second_stock[]" disabled>
                                                        <option :value="'Instock'">In Stock</option>
                                                        <option :value="'Outstock'">Out Stock</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Lead Time Type</label>
                                                <select class="form-control" v-model="added_row.second_lead_time_type" name="second_lead_time_type[]" disabled>
                                                    <option value="">Select Lead Time Type</option>
                                                    <option :value="'day'">Day</option>
                                                    <option :value="'week'">Week</option>
                                                    <option :value="'month'">Month</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Lead Time Value</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="number" class="form-control" v-model="added_row.second_lead_time_value" placeholder="Enter Lead Time Value" name="second_lead_time_value[]" disabled>
                                                    <div class="form-control-position">
                                                        <i class="ft-hash primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Additional Information</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <textarea class="form-control" v-model="added_row.second_additional_info" name="second_additional_info[]" Placeholder="Enter Additional Information Here..." disabled></textarea>
                                                    <div class="form-control-position">
                                                        <i class="la la-info-circle primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Third Cheapest Price -->
                                    <h6 class="form-section">Third Cheapest Price</h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>3rd Cheaptest Price</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="number" class="form-control" v-model="added_row.third_cheapest_price" name="third_cheapest_price[]" Placeholder="Enter First Cheapest Price" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-money primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Company Name</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" v-model="added_row.third_company_name" name="third_company_name[]" Placeholder="Enter Source Company Name" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-building primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Product URL/Sales Person Name</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" v-model="added_row.third_product_url" name="third_product_url[]" Placeholder="https://dummyurl.com/JohnDoe" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-globe primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label>Stock</label>
                                                    <select class="form-control" v-model="added_row.third_stock" name="third_stock[]" disabled>
                                                        <option :value="'Instock'">In Stock</option>
                                                        <option :value="'Outstock'">Out Stock</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Lead Time Type</label>
                                                <select class="form-control" v-model="added_row.third_lead_time_type" name="third_lead_time_type[]" disabled>
                                                    <option value="">Select Lead Time Type</option>
                                                    <option :value="'day'">Day</option>
                                                    <option :value="'week'">Week</option>
                                                    <option :value="'month'">Month</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Lead Time Value</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="number" class="form-control" v-model="added_row.third_lead_time_value" placeholder="Enter Lead Time Value" name="third_lead_time_value[]" disabled>
                                                    <div class="form-control-position">
                                                        <i class="ft-hash primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Additional Information</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <textarea class="form-control" v-model="added_row.third_additional_info" name="third_additional_info[]" Placeholder="Enter Additional Information Here..." disabled></textarea>
                                                    <div class="form-control-position">
                                                        <i class="la la-info-circle primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Quoted Price -->
                                    <h6 class="form-section">Quoted Price</h6>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Quoted Price</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="number" class="form-control" v-model="added_row.quoted_price" name="quoted_price[]" Placeholder="Enter Quoted Price" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-money primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Source Price</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="number" class="form-control" v-model="added_row.source_price" name="source_price[]" Placeholder="Enter Source Price" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-money primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Extended Price</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="number" class="form-control" v-model="added_row.quantity * added_row.quoted_price" name="grand_extended_price[]" Placeholder="Enter Price" readonly style="pointer-events: none" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-money primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Source Company</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" v-model="added_row.source_company" name="source_company[]" Placeholder="Enter Source Company" disabled>
                                                    <div class="form-control-position">
                                                        <i class="la la-globe primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Custom Note</label>
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <textarea class="form-control" v-model="added_row.custom_note" name="custom_note[]" Placeholder="Enter Customer Note..." disabled></textarea>
                                                    <div class="form-control-position">
                                                        <i class="la la-info-circle primary"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="profileEle" role="tabpanel">
                        <div class="card box-shadow-0 border-info bg-transparent" v-for="(answer,index) in rejection_answers">
                            <div class="card-header bg-transparent">
                                <h4 class="card-title text-primary">{{ answer.question.question }}</h4>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <p class="card-text">{{ answer.answer }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </card>

        <form @submit.prevent="uploadPurchaseOrder()" enctype="multipart/form-data" id="uploadPurchaseOrder">
            <my-modal modal_size="modal-lg" modal_class="MyModal" modal_bg="bg-info">
                <template #modalTitle> Upload Purchase Order </template>
                <template #modalBody>
                    <div class="form-group row">
                        <label class="col-md-3 label-control">Select File</label>
                        <div class="col-md-9">
                            <label id="projectinput8" class="file center-block">
                                <input type="file" ref="file" v-on:change="handleFileUpload()" id="file">
                                <span class="file-custom"></span>
                            </label>
                        </div>
                    </div>
                </template>
                <template #modalFooter>
                    <button class="btn btn-info pull-right">Upload</button>
                    <button class="btn btn-info pull-right" data-dismiss="modal" aria-label="Close">Cancel</button>
                </template>
            </my-modal>
        </form>

    </span>

</template>

<script>
    import { globalMixin } from '../../../../mixins/mixin.js'
    import Card from '../../../PartialViews/Card/bsCard';
    import GoBack from '../../../PartialViews/goBack';
    import MyModal from '../../../PartialViews/Modal/bsModal';
    import Alert from '../../../PartialViews/RoundAlerts/bsRoundAlert';
    export default {
        mixins: [globalMixin],
        components:{
            Card,
            GoBack,
            MyModal,
            Alert
        },
        data: function () {
            return {
                quotation_id:'',
                quotation:{},
                selected_customer:{first_name:'',last_name:''},
                salesperson:{first_name:'',last_name:''},
                part_added_rows:[],
                rejection_answers:[],
                purchaseOrderFile:'',
            }
        },
        created() {
            var app = this;
            let id = app.$route.params.id;
            app.quotation_id = id;
            axios.get('salesperson/price_comparison/'+app.quotation_id+'/edit')
                .then(function (resp) {
                    app.quotation = resp.data.data.quotation;
                    app.selected_customer = resp.data.data.quotation.customer;
                    app.part_added_rows = resp.data.data.quotation.parts;
                    app.salesperson = resp.data.data.salesperson;
                    app.rejection_answers = resp.data.data.rejection_answers;
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        mounted(){

        },
        methods: {
            saveForm() {
                var app = this;
                var formData = new FormData(document.getElementById('prepareQuotation'));
                axios.post('salesperson/createPriceComparison/'+app.quotation_id, formData)
                    .then(function (resp) {
                        if (resp.data.code == 422) {
                            app.dangerToastr("Error", resp.data.message);
                        } else {
                            app.successToastr("Success", resp.data.message);
                            app.$router.push({name: 'priceComparison'});
                        }
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                        console.log(app.errors);
                        app.dangerToastr("Error", "Please fill up the fields");
                    });
            },
            openModalPurchaseOrder(){
                var app = this;
                app.purchaseOrderFile = '';
                $('.MyModal').modal({backdrop: 'static', keyboard: false});
                $('.MyModal').modal('show');
            },
            handleFileUpload(){
                this.purchaseOrderFile = this.$refs.file.files[0];
            },
            uploadPurchaseOrder()
            {
                var app = this;

                var formData = new FormData(document.getElementById('uploadPurchaseOrder'));
                formData.append('file', app.purchaseOrderFile);

                axios.post('salesperson/uploadPurchaseOrder/'+app.quotation_id,
                    formData,{
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then(function (resp) {
                        if(resp.data.code == 422)
                        {
                            toastr.error(resp.data.message);
                        }
                        else
                        {
                            toastr.success(resp.data.message);
                            app.quotation.purchase_order_uploaded = 1;
                            $('.MyModal').modal('hide');
                        }
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        toastr.error("Could not upload purchase order");
                    });
            },
            markQuotationComplete()
            {
                var app = this;

                swal({
                    title: "Quotation Completion",
                    text: "Are you sure you want to Complete Quotation?",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "No, cancel please!",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                        },
                        confirm: {
                            text: "Yes, Continue!!!",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                }).then(isConfirm => {
                    if (isConfirm) {
                        axios.get('salesperson/markQuotationComplete/'+app.quotation_id)
                            .then(function (resp) {
                                if (resp.data.code == 422) {
                                    app.dangerToastr("Error", resp.data.message);
                                } else {
                                    swal("Success", "Quotation Completed Successfully!!!", "success");
                                    app.successToastr("Success", resp.data.message);
                                    app.$router.push({name: 'listInvoices'});
                                }
                            })
                            .catch(function (error) {
                                app.errors = error.response.data.errors;
                                app.dangerToastr("Error", "Quotation Not Marked as Completed !");
                            });
                    } else {

                        swal("Cancelled", "It's safe.", "error");
                    }
                });

            }
        }
    }
</script>