<template>
    <div class="row">
        <div class="col-md-12">

            <slot name="tHeader"></slot>

            <table class="table table-striped table-bordered zero-configuration">

                <slot name="tHead"></slot>

                <slot name="tBody"></slot>

            </table>

        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {

            }
        },
        created() {

        },
        mounted(){

        },
        methods: {

        }
    }
</script>