<template>
    <div class="row">
        <div class="col-md-12">
            <card>
                <template #cardTitle>
                    <slot name="cardTitle"></slot>
                </template>>

                <template #cardBody>
                    <slot name="tHeader"></slot>
                    <table class="table table-striped table-bordered zero-configuration">

                        <slot name="tHead"></slot>
                        <div class="loader-wrapper process-loader" v-show="is_loading" style="left: 50em">
                            <div class="loader-container">
                                <div class="folding-cube loader-info">
                                    <div class="cube1 cube"></div>
                                    <div class="cube2 cube"></div>
                                    <div class="cube4 cube"></div>
                                    <div class="cube3 cube"></div>
                                </div>
                            </div>
                        </div>
                        <slot name="tBody"></slot>

                    </table>

                </template>
            </card>
        </div>
    </div>
</template>

<script>
    import Card from '../Card/bsCard';
    export default {
        props:['is_loading'],
        components:{
            Card,
        },
        data: function () {
            return {

            }
        },
        created() {

        },
        mounted(){
        },
        methods: {

        }
    }
</script>