<template>
    <section>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="card bg-info">
                    <div class="card-content">
                        <div class="card-body pb-1">
                            <div class="row text-white">
                                <div class="col-6">
                                    <i class="la la-user font-large-4"></i>
                                </div>
                                <div class="col-6 text-right pl-0">
                                    <h2 class="text-white mb-2 font-large-1">{{ counts.pending_count }}</h2>
                                    <h4 class="text-white">Pending RFQ</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="card bg-warning">
                    <div class="card-content">
                        <div class="card-body pb-1">
                            <div class="row text-white">
                                <div class="col-6">
                                    <i class="la la-user font-large-4"></i>
                                </div>
                                <div class="col-6 text-right pl-0">
                                    <h3 class="text-white mb-2 font-large-1">{{ counts.quotation_prepared_count }}</h3>
                                    <h4 class="text-white">RFQ Inprocess</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="card bg-danger">
                    <div class="card-content">
                        <div class="card-body pb-1">
                            <div class="row text-white">
                                <div class="col-6">
                                    <i class="la la-user font-large-4"></i>
                                </div>
                                <div class="col-6 text-right pl-0">
                                    <h3 class="text-white mb-2 font-large-1">{{ counts.total_quotation_count }}</h3>
                                    <h4 class="text-white">Total Quotations</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-xl-4 col-lg-6 col-12">
                <div class="card bg-teal">
                    <div class="card-content">
                        <div class="card-body pb-1">
                            <div class="row text-white">
                                <div class="col-6">
                                    <i class="la la-user font-large-4"></i>
                                </div>
                                <div class="col-6 text-right pl-0">
                                    <h3 class="text-white mb-2 font-large-1">{{ counts.followup_count }}</h3>
                                    <h4 class="text-white">Follow Ups</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="card bg-success">
                    <div class="card-content">
                        <div class="card-body pb-1">
                            <div class="row text-white">
                                <div class="col-6">
                                    <i class="la la-user font-large-4"></i>
                                </div>
                                <div class="col-6 text-right pl-0">
                                    <h3 class="text-white mb-2 font-large-1">{{ counts.pending_followup_count }}</h3>
                                    <h4 class="text-white">Pending Follow Ups</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Leads -->
        <div class="row" v-can="'leads-list'">
            <div id="recent-sales" class="col-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Leads <span class="badge badge-pill badge-danger">{{ counts.lead_count }}</span></h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <router-link class="btn btn-sm btn-danger btn-glow box-shadow-2 round btn-min-width pull-right" :to="{name:'leads'}">
                                        View all
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content mt-1">
                        <div class="table-responsive">
                            <table id="recent-orders" class="table table-hover table-xl mb-0">
                                <thead>
                                <tr class="">
                                    <th class="border-top-0">Quote #</th>
                                    <th class="border-top-0">Customer</th>
                                    <th class="border-top-0">Email</th>
                                    <th class="border-top-0">Contact No</th>
                                    <th class="border-top-0">Sales Person</th>
                                    <th class="border-top-0">Status</th>
                                    <th class="border-top-0">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(lead,index) in leads">
                                    <td class="text-truncate">{{ lead.quote_no }}</td>
                                    <td class="text-truncate p-1">{{ lead.customer ? lead.customer.first_name+' '+lead.customer.last_name : 'N/A' }}</td>
                                    <td>{{ lead.email }}</td>
                                    <td>{{ lead.contact_no }}</td>
                                    <td>{{ lead.salesperson ? lead.salesperson.first_name+' '+lead.salesperson.last_name : 'N/A' }}</td>
                                    <td>
                                        <button type="button" v-if="lead.status === 'rejected'" class="btn btn-sm btn-outline-danger round">{{ lead.status }}</button>
                                        <button type="button" v-else class="btn btn-sm btn-outline-success round">{{ lead.status }}</button>
                                    </td>
                                    <td class="text-truncate">{{ lead.grand_total }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Leads -->

        <div class="row">
            <div v-can="'price_comparison-list'" class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Prepairing Quotations <span class="badge badge-pill badge-warning">{{ counts.quotation_prepared_count }}</span></h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <router-link class="btn btn-sm btn-warning btn-glow box-shadow-2 round btn-min-width pull-right" :to="{name:'priceComparison'}">View all</router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content mt-1">
                        <div class="table-responsive">
                            <table id="recent-orders" class="table table-hover table-xl mb-0">
                                <thead>
                                <tr class="">
                                    <th class="border-top-0">Quote #</th>
                                    <th class="border-top-0">Customer</th>
                                    <th class="border-top-0">Sales Person</th>
                                    <th class="border-top-0">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(quotation,index) in prepairing_quotations">
                                        <td class="text-truncate">{{ quotation.quote_no }}</td>
                                        <td class="text-truncate">{{ quotation.customer ? quotation.customer.first_name+' '+quotation.customer.last_name : 'N/A' }}</td>
                                        <td class="text-truncate">{{ quotation.salesperson ? quotation.salesperson.first_name+' '+quotation.salesperson.last_name : 'N/A' }}</td>
                                        <td class="text-truncate">{{ quotation.grand_total ? quotation.grand_total : quotation.total }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div v-can="'invoice-list'" class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sending Quotations <span class="badge badge-pill badge-success">{{ counts.invoice_sent_count }}</span></h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <router-link class="btn btn-sm btn-success btn-glow box-shadow-2 round btn-min-width pull-right" :to="{name:'listInvoices'}">View all</router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content mt-1">
                        <div class="table-responsive">
                            <table id="recent-orders" class="table table-hover table-xl mb-0">
                                <thead>
                                <tr class="">
                                    <th class="border-top-0">Quote #</th>
                                    <th class="border-top-0">Customer</th>
                                    <th class="border-top-0">Sales Person</th>
                                    <th class="border-top-0">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(invoice,index) in invoices">
                                    <td class="text-truncate">{{ invoice.quote_no }}</td>
                                    <td class="text-truncate">{{ invoice.customer ? invoice.customer.first_name+' '+invoice.customer.last_name : 'N/A' }}</td>
                                    <td class="text-truncate">{{ invoice.salesperson ? invoice.salesperson.first_name+' '+invoice.salesperson.last_name : 'N/A' }}</td>
                                    <td class="text-truncate">{{ invoice.grand_total ? invoice.grand_total : invoice.total }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
        data: function () {
            return {
                prepairing_quotations:[],
                invoices:[],
                leads:[],
                counts:[],
            }
        },
        created() {
            var app = this;
            app.getDashboardData();
        },
        mounted(){

        },
        methods: {
            async getDashboardData()
            {
                var app = this;
                await axios.get('dashboardData')
                    .then(function (resp) {
                        var dashboardResponse = resp.data.data;

                        app.leads = dashboardResponse.leads;
                        app.prepairing_quotations = dashboardResponse.quotation_prepared;
                        app.invoices = dashboardResponse.invoice_sent;
                        app.counts = dashboardResponse.counts;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
            }
        }
    }
</script>