<template>
    <card>
        <template #cardTitle>Sending & Reviewing Quotation</template>
        <template #cardBody>
            <go-back></go-back>
            <form class="mt-1" id="reviewQuotation">
                <div class="form-body">
                    <h4 class="form-section"><i class="ft-user"></i>General Info</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Quotation Number</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="quotation.quote_no" class="form-control" readonly>
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Customer ID</label>
                                    <input type="text" v-model="selected_customer.customer_no" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="selected_customer.first_name+' '+selected_customer.last_name" class="form-control" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Company</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="selected_customer.company_name" class="form-control" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-building primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="selected_customer.email" class="form-control" readonly>
                                    <div class="form-control-position">
                                        <i class="la la-envelope primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Phone</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="selected_customer.contact_no" class="form-control" readonly>
                                    <div class="form-control-position">
                                        <i class="ft-phone-call primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Sales Person</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="salesperson.first_name+' '+salesperson.last_name" class="form-control" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="date" v-model="quotation.created_at" class="form-control" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-calendar primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Quotation Expiry</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="date" v-model="quotation.quotation_expiry" name="quotation_expiry" class="form-control" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-calendar primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Additional Instruction</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <textarea class="form-control" v-model="quotation.additional_instructions" disabled></textarea>
                                    <div class="form-control-position">
                                        <i class="la la-calendar primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-body">
                    <h4 class="form-section"><i class="la la-gear"></i>Parts Info</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-lg text-center">
                            <thead>
                            <tr class="bg-info text-white">
                                <th>Part Number</th>
                                <th>Part Name</th>
                                <th>Quantity</th>
                                <th>Condition</th>
                                <th>Target Price</th>
                                <th>Extended Price</th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            <tr v-for="(added_row,index) in part_added_rows">
                                <td>{{ added_row.part_no }}</td>
                                <td>{{ added_row.name }}</td>
                                <td>{{ added_row.quantity }}</td>
                                <td>{{ added_row.condition }}</td>
                                <td>{{ added_row.price }}</td>
                                <td>{{ added_row.grand_extended_price }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-body">
                    <h4 class="form-section"><i class="ft-hash"></i>Total</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group pull-right">
                                <label>Total</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="number" name="total" v-model="quotation.total" class="form-control" readonly>
                                    <div class="form-control-position">
                                        <i class="la la-money primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group pull-right">
                                <label>Tax Percentage</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="number" name="tax_percentage" v-model="quotation.tax_percentage" class="form-control">
                                    <div class="form-control-position">
                                        <i class="la la-money primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group pull-right">
                                <label>Shipment Cost</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="number" name="shipment_cost" v-model="quotation.shipment_cost" class="form-control">
                                    <div class="form-control-position">
                                        <i class="la la-money primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group pull-right">
                                <label>Credit Card Percentage</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="number" name="credit_card_percentage" v-model="quotation.credit_card_percentage" class="form-control">
                                    <div class="form-control-position">
                                        <i class="la la-money primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group pull-right">
                                <label>Grand Total</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="number" name="grand_total" v-model="grand_total" class="form-control" readonly>
                                    <div class="form-control-position">
                                        <i class="la la-money primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <a @click="saveForm('submit')" class="btn btn-success btn-glow float-right text-white mb-2 ml-1"><i class="la la-check-o"></i>Submit</a>
                    <a @click="saveForm('generateInvoice')" class="btn btn-success btn-glow float-right text-white mb-2 ml-1"><i class="la la-check-o"></i>Generate Invoice</a>
                </div>
            </form>
        </template>
    </card>
</template>

<script>
    import { globalMixin } from '../../../../mixins/mixin.js'
    import Card from '../../../PartialViews/Card/bsCard';
    import GoBack from '../../../PartialViews/goBack';
    export default {
        mixins: [globalMixin],
        components:{
            Card,
            GoBack
        },
        data: function () {
            return {
                quotation_id:'',
                quotation:{},
                selected_customer:{
                    first_name:'',
                    last_name:'',
                },
                salesperson:{
                    first_name:'',
                    last_name:'',
                },
                part_added_rows:[],
            }
        },
        computed: {
            grand_total() {
                return parseFloat(this.quotation.total) + parseFloat(this.quotation.tax_percentage * (this.quotation.total / 100)) + parseFloat(this.quotation.shipment_cost) + parseFloat(this.quotation.credit_card_percentage * (this.quotation.total / 100)) ;
            }
        },
        created() {
            var app = this;
            let id = app.$route.params.id;
            app.quotation_id = id;
            axios.get('salesperson/reviewQuotation/'+app.quotation_id)
                .then(function (resp) {
                    app.quotation = resp.data.data.quotation;
                    app.selected_customer = resp.data.data.quotation.customer;
                    app.part_added_rows = resp.data.data.quotation.parts;
                    app.salesperson = resp.data.data.salesperson;
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        mounted(){

        },
        methods: {
            saveForm(btnName) {
                var app = this;
                if(app.grand_total)
                {
                    var formData = new FormData(document.getElementById('reviewQuotation'));
                    axios.post('salesperson/submitQuotation/'+app.quotation_id, formData)
                        .then(function (resp) {
                            if (resp.data.code == 422) {
                                app.dangerToastr("Error", resp.data.message);
                            } else {
                                app.successToastr("Success", resp.data.message);
                                if(btnName === 'submit')
                                    app.$router.push({name: 'priceComparison'});
                                else
                                    app.$router.push({name:'invoice', params: {id: app.quotation_id}});
                            }
                        })
                        .catch(function (error) {
                            app.errors = error.response.data.errors;
                            console.log(app.errors);
                            app.dangerToastr("Error", "Please fill up the fields");
                        });
                }
                else
                {
                    app.dangerToastr("Error", "Please Enter Shipment Cost");
                }
            }
        }
    }
</script>