<template>
    <span>
        <DatatableWithCard :is_loading=is_loading>
            <template #cardTitle>Invoices</template>
            <template #tHeader></template>
            <template #tHead>
                <thead>
                <tr class="bg-info text-white">
                    <th>#</th>
                    <th>Quote #</th>
                    <th>Customer</th>
                    <th>Email</th>
                    <th>Sales Person</th>
                    <th>Acccepted By</th>
                    <th>Status</th>
                    <th>Grand Total</th>
                    <th>Quotation Date</th>
                    <th>Action</th>
                </tr>
                </thead>
            </template>
            <template #tBody>
                <tbody>
                <tr v-for="(quotation,index) in quotations">
                    <td>{{ index + 1 }}</td>
                    <td>{{ quotation.quote_no }}</td>
                    <td>{{ quotation.customer ? quotation.customer.first_name+' '+quotation.customer.last_name : 'N/A' }}</td>
                    <td>{{ quotation.email }}</td>
                    <td>{{ quotation.salesperson ? quotation.salesperson.first_name+' '+quotation.salesperson.last_name : 'N/A' }}</td>
                    <td>
                        <button type="button" v-if="quotation.accepted_by && quotation.accepted_by.user_type === 'customer'" class="btn btn-sm btn-outline-warning round">customer</button>
                        <button type="button" v-else-if="quotation.accepted_by && quotation.accepted_by.user_type === 'salesperson'" class="btn btn-sm btn-outline-success round">sales person</button>
                        <button type="button" v-else class="btn btn-sm btn-outline-danger round">N/A</button>
                    </td>
                    <td>
                        <button type="button" v-if="quotation.status === 'completed'" class="btn btn-sm btn-outline-success round">{{ quotation.status }}</button>
                        <button type="button" v-else class="btn btn-sm btn-outline-danger round">{{ quotation.status }}</button>
                    </td>
                    <td>{{ quotation.grand_total }}</td>
                    <td>{{ quotation.created_at }}</td>
                    <td>
                        <div class="form-group">
                            <div class="btn-group mr-1 mb-1">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Action</button>
                                <div class="dropdown-menu">
                                    <router-link class="dropdown-item tooltip-info tooltip-vue" title="View Quotation" v-can="'price_comparison-view'" :to="{name:'viewPriceComparison', params: {id: quotation.id}}">View Quotation</router-link>
                                    <router-link class="dropdown-item tooltip-info tooltip-vue" v-can="'invoice-view'" title="Generate Invoice" :to="{name:'invoice', params: {id: quotation.id}}">View Invoice</router-link>
                                    <router-link class="dropdown-item tooltip-info tooltip-vue" v-can="'follow_up-list'" title="Follow Up Listing" :to="{name:'followUpListing', params: {id: quotation.id}}">Follow Up Listing</router-link>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </template>
        </DatatableWithCard>
    </span>
</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import MyModal from '../../PartialViews/Modal/bsModal';
    import DatatableWithCard from '../../PartialViews/Datatable/datatableWithCard';
    export default {
        mixins: [globalMixin],
        components:{
            DatatableWithCard,
            MyModal,
        },
        data: function () {
            return {
                quotations:[],
                salespersons:[],
                is_loading:1,
                assignSurveyorInfo:{
                    assigned_salesperson:'',
                    quotation_id:'',
                    index:'',
                },
            }
        },
        created() {
            var app = this;
            app.getQuotations();
        },
        mounted(){
            var app = this;
        },
        methods: {
            async getQuotations()
            {
                var app = this;
                await axios.get('salesperson/lead')
                    .then(function (resp) {
                        app.quotations = resp.data.data.quotations;
                        app.salespersons = resp.data.data.salespersons;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
                app.initializeDatatable();
                app.is_loading = 0;
            },
        }
    }
</script>
