<template>
    <a href="#" @click="$router.go(-1)" class="btn btn-float btn-primary btn-round pull-right tooltip-primary"><i class="la la-arrow-left"></i></a>
</template>

<script>
    export default {
        data: function () {
            return {

            }
        },
        created() {

        },
        mounted(){

        }
    }
</script>