<template>
    <div class="loader-container">
        <div class="folding-cube loader-info" v-show="is_loading_spin">
            <div class="cube1 cube"></div>
            <div class="cube2 cube"></div>
            <div class="cube4 cube"></div>
            <div class="cube3 cube"></div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['is_loading_spin'],
        data: function () {
            return {

            }
        },
        created() {
            var app = this;

        },
        mounted(){

        },
        methods: {

        }
    }
</script>