<template>

    <DatatableWithCard :is_loading=is_loading>
        <template #cardTitle>Activity Log</template>
        <template #tHead>
            <thead>
            <tr class="bg-info text-white">
                <th>#</th>
                <th>Name</th>
                <th>Message</th>
                <th>Created At</th>
<!--                <th v-can="'activity_log-delete'">Action</th>-->
            </tr>
            </thead>
        </template>
        <template #tBody>
            <tbody>
<!--            <tr v-for="(activity_log,index) in activity_logs">-->
<!--                <td>{{ index + 1 }}</td>-->
<!--                <td>{{ activity_log.user.first_name+' '+activity_log.user.last_name }}</td>-->
<!--                <td>{{ activity_log.message }}</td>-->
<!--                <td>{{ activity_log.created_at }}</td>-->
<!--                <td v-can="'activity_log-delete'">-->
<!--                    <a class="btn btn-icon btn-danger tooltip-danger tooltip-vue" v-can="'activity_log-delete'" @click="deleteActivityLog(activity_log.id,index)"><i class="la la-trash text-white"></i></a>-->
<!--                </td>-->
<!--            </tr>-->
            </tbody>
        </template>
    </DatatableWithCard>

</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import DatatableWithCard from '../../PartialViews/Datatable/datatableWithCard';
    export default {
        mixins: [globalMixin],
        components:{
            DatatableWithCard,
        },
        data: function () {
            return {
                activity_logs:[],
                is_loading:1,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
        },
        created() {
            var app = this;
            app.getActivityLog();
            setTimeout( function () {
                $('.deleteActivityLog').on('click', function () {
                    var id = $(this).data('id');
                    var index = $(this).data('index');
                    app.deleteActivityLog(id,index);
                });
            },1500);
        },
        mounted(){
            var app = this;
        },
        methods: {
            async getActivityLog()
            {
                var app = this;
                setTimeout( function () {
                    $('table').DataTable({
                        processing: true,
                        serverSide: true,
                        paging: true,
                        bSortable: true,
                        length: 25,
                        ajax:{
                            url: "salesperson/activityLogDatatable",
                            dataType: "json",
                            type: "POST",
                            data:{ _token: app.csrf}
                        },
                        columns: [
                            { data: "sr_no" },
                            { data: "name" },
                            { data: "message" },
                            { data: "created_at" },
                            // {
                            //     data: "action",
                            //     visible: Permissions.includes('activity_log-delete') ? true : false
                            // },
                        ]
                    });
                }, 1);
                app.is_loading = 0;
            },
            deleteActivityLog(id,index) {
                var app = this;
                swal({
                    title: "Activity Log Deletion",
                    text: "Are you sure you want to delete Activity Log?",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "No, cancel please!",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                        },
                        confirm: {
                            text: "Yes, Continue!!!",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                }).then(isConfirm => {
                    if (isConfirm) {
                        axios.delete('salesperson/activity_log/' + id)
                            .then(function (resp) {
                                app.activity_logs.splice(index, 1);
                                swal("Success", "Activity Log Deleted Successfully!!!", "success");
                            })
                            .catch(function (resp) {
                                console.log(resp);
                                app.dangerToastr("Error", "Could not delete the role");
                            });
                    } else {

                        swal("Cancelled", "It's safe.", "error");
                    }
                });
            }
        }
    }
</script>
