<template>
    <card>
        <template #cardTitle>Find Quotation By Id</template>
        <template #cardBody>
            <form>
                <div class="form-body">
                    <h4 class="form-section"><i class="ft-user"></i>General Info</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Enter Quotation Id</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="number" v-model="quotation.id" class="form-control" placeholder="Enter Quotation Id">
                                    <div class="form-control-position">
                                        <i class="ft-hash primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <a class="btn btn-success btn-glow float-right mb-2 text-white" @click="goToQuotation()"><i class="la la-check-o"></i>Go</a>
                </div>
            </form>
        </template>
    </card>
</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import Card from '../../PartialViews/Card/bsCard';
    export default {
        mixins: [globalMixin],
        components:{
            Card,
        },
        data: function () {
            return {
                quotation:{id:''},
            }
        },
        created() {
            var app = this;
        },
        mounted(){

        },
        methods: {
            goToQuotation() {
                var app = this;
                if(app.quotation.id === '')
                {
                    app.dangerToastr("Error", "Please Enter Quotation Id");
                    return;
                }

                axios.get('salesperson/price_comparison/'+app.quotation.id+'/edit')
                    .then(function (resp) {
                        if (resp.data.code == 422){
                            app.warningToastr("Warning", resp.data.message);
                            return;
                        }

                        app.$router.push({name:'viewPriceComparison', params: {id: app.quotation.id}});

                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
            }
        }
    }
</script>