<template>

    <DatatableWithCard :is_loading=is_loading>
        <template #cardTitle>Request For Quotations</template>
        <template #tHeader>
            <router-link class="btn btn-info mr-1 mt-1 btn-sm btn-glow pull-right tooltip-info" v-can="'request_for_quotation-create'" :to="{name:'requestForQuotation'}"><i class="la la-plus font-medium-1"></i>Request For Quotation</router-link>
        </template>
        <template #tHead>
            <thead>
            <tr class="bg-info text-white">
                <th>#</th>
                <th>Quote #</th>
                <th>Customer</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>Sales Person</th>
                <th>Status</th>
                <th>Quotation Date</th>
                <th>Action</th>
            </tr>
            </thead>
        </template>
        <template #tBody>
            <tbody>
            <tr v-for="(quotation,index) in quotations">
                <td>{{ index + 1 }}</td>
                <td>{{ quotation.quote_no }}</td>
                <td>{{ quotation.customer ? quotation.customer.first_name+' '+quotation.customer.last_name : 'N/A' }}</td>
                <td>{{ quotation.email }}</td>
                <td>{{ quotation.contact_no }}</td>
                <td>{{ quotation.salesperson ? quotation.salesperson.first_name+' '+quotation.salesperson.last_name : 'N/A' }}</td>
                <td>{{ quotation.status }}</td>
                <td>{{ quotation.created_at }}</td>
                <td>
                    <div class="form-group">
                        <div class="btn-group mr-1 mb-1">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Action</button>
                            <div class="dropdown-menu">
                                <router-link class="dropdown-item tooltip-info tooltip-vue" v-can="'request_for_quotation-view'" :to="{name:'viewRequestForQuotation', params: {id: quotation.id}}">View</router-link>
                                <router-link class="dropdown-item tooltip-info tooltip-vue" v-can="'request_for_quotation-edit'" :to="{name:'editRequestForQuotation', params: {id: quotation.id}}">Edit</router-link>
                                <router-link class="dropdown-item tooltip-info tooltip-vue" v-can="'price_comparison-create'" :to="{name:'createPriceComparison', params: {id: quotation.id}}">Price Comparison</router-link>
                                <a class="dropdown-item tooltip-danger tooltip-vue" v-can="'request_for_quotation-delete'" @click="deleteQuotation(quotation.id,index)">Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </template>
    </DatatableWithCard>

</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import DatatableWithCard from '../../PartialViews/Datatable/datatableWithCard';
    export default {
        mixins: [globalMixin],
        components:{
            DatatableWithCard,
        },
        data: function () {
            return {
                quotations:[],
                is_loading:1,
            }
        },
        created() {
            var app = this;
            app.getSalesPerson();
        },
        mounted(){
            var app = this;
        },
        methods: {
            async getSalesPerson()
            {
                var app = this;
                await axios.get('salesperson/request_for_quote')
                    .then(function (resp) {
                        app.quotations = resp.data.data.quotations;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
                app.initializeDatatable();
                app.is_loading = 0;
            },
            deleteQuotation(id,index) {
                var app = this;
                swal({
                    title: "Quotation Deletion",
                    text: "Are you sure you want to delete Quotation?",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "No, cancel please!",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                        },
                        confirm: {
                            text: "Yes, Continue!!!",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                }).then(isConfirm => {
                    if (isConfirm) {
                        axios.delete('salesperson/request_for_quote/' + id)
                            .then(function (resp) {
                                app.quotations.splice(index, 1);
                                swal("Success", "Quotation Deleted Successfully!!!", "success");
                            })
                            .catch(function (resp) {
                                console.log(resp);
                                app.dangerToastr("Error", "Could not delete the role");
                            });
                    } else {

                        swal("Cancelled", "It's safe.", "error");
                    }
                });
            }
        }
    }
</script>
