<template>
    <span>
        <card>
            <template #cardTitle>Request For Quotation</template>
            <template #cardBody>
                <go-back></go-back>
                <form @submit.prevent="saveForm()" class="mt-1" id="requestForQuotation">
                    <div class="form-body">
                        <h4 class="form-section"><i class="ft-user"></i>General Info</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Search Customer (ID / Email / Company Name / Customer Name)</label>
                                        <select class="form-control customers select2" v-model="quotation.customer_id" name="customer_id">
                                            <option value="" selected="" disabled="">Search Customer</option>
                                        </select>
                                        <div v-if="errors.customer_id">
                                            <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.customer_id">
                                                <small class="block-area white">{{error}}</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Quotation Number</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" v-model="quotation.quote_no" name="quote_no" class="form-control" placeholder="Enter Quotation Number" readonly>
                                        <div class="form-control-position">
                                            <i class="la la-user primary"></i>
                                        </div>
                                        <div v-if="errors.quote_no">
                                            <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.quote_no">
                                                <small class="block-area white">{{error}}</small>
                                            </p>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" v-model="selected_customer.first_name+' '+selected_customer.last_name" class="form-control" placeholder="Enter Customer Name" disabled>
                                        <div class="form-control-position">
                                            <i class="la la-user primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Company</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" v-model="selected_customer.company_name" class="form-control" placeholder="Enter Company Name" disabled>
                                        <div class="form-control-position">
                                            <i class="la la-building primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" v-model="selected_customer.email" class="form-control" name="customer_email" placeholder="Enter Customer Email">
                                        <div class="form-control-position">
                                            <i class="la la-envelope primary"></i>
                                        </div>
                                        <div v-if="errors.customer_email">
                                            <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.customer_email">
                                                <small class="block-area white">{{error}}</small>
                                            </p>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" v-model="selected_customer.contact_no" class="form-control" name="contact_no" placeholder="Enter Customer Phone Number">
                                        <div class="form-control-position">
                                            <i class="ft-phone-call primary"></i>
                                        </div>
                                        <div v-if="errors.contact_no">
                                            <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.contact_no">
                                                <small class="block-area white">{{error}}</small>
                                            </p>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Sales Person</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" v-model="salesperson.first_name+' '+salesperson.last_name" class="form-control" placeholder="Enter Sales Person Name" disabled>
                                        <div class="form-control-position">
                                            <i class="la la-user primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="date" v-model="today" class="form-control" disabled>
                                        <div class="form-control-position">
                                            <i class="la la-calendar primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Quotation Expiry</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="date" name="quotation_expiry" class="form-control">
                                        <div class="form-control-position">
                                            <i class="la la-calendar primary"></i>
                                        </div>
                                        <div v-if="errors.quotation_expiry">
                                            <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.quotation_expiry">
                                                <small class="block-area white">{{error}}</small>
                                            </p>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Additional Instruction</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <textarea class="form-control" name="additional_instructions" v-model="quotation.additional_instructions"></textarea>
                                        <div class="form-control-position">
                                            <i class="la la-calendar primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-body">
                        <h4 class="form-section"><i class="la la-gear"></i>Parts Info</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Search Parts (PartNo / Name)</label>
                                        <select class="form-control parts select2" v-model="part_row.part_id">
                                            <option value="" selected="" disabled="">Search Parts</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Part Name</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" class="form-control" v-model="part_row.name" placeholder="Enter Part Name">
                                        <div class="form-control-position">
                                            <i class="la la-user primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" class="form-control" v-model="part_row.quantity">
                                        <div class="form-control-position">
                                            <i class="ft-hash primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Condition</label>
                                        <select class="form-control" v-model="part_row.condition">
                                            <option value="" selected="" disabled="">Select Condition</option>
                                            <option :value="'New'">New</option>
                                            <option :value="'Used'">Used</option>
                                            <option :value="'Refurbished'">Refurbished</option>
                                            <option :value="'Any'">Any</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Target Price</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" v-model="part_row.price" class="form-control" placeholder="Enter Price">
                                        <div class="form-control-position">
                                            <i class="la la-money primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Extended Price</label>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="number" v-model="extended_price" class="form-control" disabled>
                                        <div class="form-control-position">
                                            <i class="la la-money primary"></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-1 mt-2 text-center">
                                <a class="tooltip-info" @click="addPartRow()"><i class="ft-plus-circle primary font-large-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-lg text-center">
                            <thead>
                            <tr class="bg-info text-white">
                                <th>Part Number</th>
                                <th>Part Name</th>
                                <th>Quantity</th>
                                <th>Condition</th>
                                <th>Target Price</th>
                                <th>Extended Price</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            <tr v-for="(added_row,index) in part_added_rows">
                                <td>
                                    {{ added_row.part_no }}
                                    <input type="hidden" name="part_no[]" v-model="added_row.part_no">
                                    <input type="hidden" name="part_id[]" v-model="added_row.part_id">
                                </td>
                                <td>
                                    {{ added_row.name }}
                                    <input type="hidden" name="name[]" v-model="added_row.name">
                                </td>
                                <td>
                                    {{ added_row.quantity }}
                                    <input type="hidden" name="quantity[]" v-model="added_row.quantity">
                                </td>
                                <td>
                                    {{ added_row.condition }}
                                    <input type="hidden" name="condition[]" v-model="added_row.condition">
                                </td>
                                <td>
                                    {{ added_row.price }}
                                    <input type="hidden" name="price[]" v-model="added_row.price">
                                </td>
                                <td>
                                    {{ added_row.extended_price }}
                                    <input type="hidden" name="extended_price[]" v-model="added_row.extended_price">
                                </td>
                                <td>
                                    <a class="tooltip-info" @click="removePartRow(added_row.part_id,index)"><i class="ft-trash-2 danger font-medium-9"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-success btn-glow float-right mb-2"><i class="la la-check-o"></i>Create</button>
                    </div>
                </form>
            </template>
        </card>

        <my-modal close_button="0" modal_size="modal-lg" modal_class="MyModal" modal_bg="bg-info">
            <template #modalBody>
                <div class="text-center">
                    <i class="ft-check-circle info font-large-5"></i>
                    <h2 class="card-title mt-3">Submitted Successfully</h2>
                    <h5 class="card-text">Your quotation submitted successfully!</h5>
                    <h5 class="card-text">We're working on your request. Your quotation Number is</h5>
                    <div class="text-center bs-callout-info callout-square callout-bordered callout-transparent mt-1">
                        <div class="media align-items-stretch">
                            <div class="media-body p-1 bg-info">
                                <h1 class="text-white"><i class="ft-hash white font-medium-6"></i>{{ quotation.quote_no }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <template #modalFooter>
                <router-link class="btn btn-info pull-right" :to="{name:'pendingQuotations'}" data-dismiss="modal" aria-label="Close">Done</router-link>
                <a href="" class="btn btn-info pull-right tooltip-info tooltip-vue" @click="moveToCreatePriceComparison()" data-dismiss="modal" aria-label="Close">Price Comparison</a>
            </template>
        </my-modal>
    </span>
</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import Card from '../../PartialViews/Card/bsCard';
    import GoBack from '../../PartialViews/goBack';
    import MyModal from '../../PartialViews/Modal/bsModal';
    export default {
        mixins: [globalMixin],
        components:{
            Card,
            GoBack,
            MyModal
        },
        data: function () {
            return {
                today: new Date().toISOString().substr(0, 10),
                quotation:{
                    quote_no:'',
                    customer_id:'',
                    parts_id:[],
                },
                parts:[],
                selected_customer:{
                    first_name:'',
                    last_name:'',
                },
                salesperson:{
                    first_name:'',
                    last_name:'',
                },
                part_row:{
                    part_id: '',
                    condition: '',
                },
                part_added_rows:[],
                removed_parts:[],
                errors:[],
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
        },
        created() {
            var app = this;
            app.getRequestForQuote();
        },
        computed: {
            extended_price() {
                return parseInt(this.part_row.quantity) * parseInt(this.part_row.price);
            }
        },
        mounted(){

        },
        methods: {
            async getRequestForQuote()
            {
                var app = this;
                await axios.get('salesperson/request_for_quote/create')
                    .then(function (resp) {
                        app.quotation.quote_no = resp.data.data.quote_no;
                        app.salesperson = resp.data.data.salesperson;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });

                app.initializeSingleSelect2();
                $('.customers').select2().on('change', function () {
                    app.getCustomer(this.value);
                });

                $('.parts').select2().on('change', function () {
                    app.getPart(this.value);
                });

                $(".customers").select2({
                    ajax: {
                        url: "salesperson/getCustomersAjax",
                        type: "post",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                _token: app.csrf,
                                search: params.term // search term
                            };
                        },
                        processResults: function (response) {
                            return {
                                results: response
                            };
                        },
                        cache: true
                    }
                });

                $(".parts").select2({
                    ajax: {
                        url: "salesperson/getPartsAjax",
                        type: "post",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                _token: app.csrf,
                                search: params.term // search term
                            };
                        },
                        processResults: function (response) {
                            return {
                                results: response
                            };
                        },
                        cache: true
                    }
                });
            },
            getPart(part_id)
            {
                var app = this;
                if(part_id)
                {
                    axios.get('salesperson/getPart/'+part_id)
                        .then(function (resp) {
                            if (resp.data.code == 422) {
                                app.dangerToastr("Error", resp.data.message);
                            } else {
                                var part = resp.data.data.part;
                                app.part_row = part;
                                app.part_row.part_id = part.id;
                                app.part_row.condition = '';
                            }
                        })
                        .catch(function (error) {
                            app.errors = error.response.data.errors;
                            console.log(app.errors);
                            app.dangerToastr("Error", "Did not find customer id");
                        });
                }
            },
            getCustomer(customer_id)
            {
                var app = this;
                app.quotation.customer_id = customer_id;
                axios.get('salesperson/getCustomer/'+app.quotation.customer_id)
                    .then(function (resp) {
                        if (resp.data.code == 422) {
                            app.dangerToastr("Error", resp.data.message);
                        } else {
                            app.selected_customer = resp.data.data.customer;
                        }
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                        console.log(app.errors);
                        app.dangerToastr("Error", "Did not find customer id");
                    });
            },
            addPartRow()
            {
                var app = this;

                if(app.validatePartFields())
                {

                    app.part_added_rows.unshift({
                        part_id : app.part_row.part_id,
                        part_no : app.part_row.part_no,
                        name : app.part_row.name,
                        quantity : app.part_row.quantity,
                        condition : app.part_row.condition,
                        price : app.part_row.price,
                        extended_price : app.extended_price,
                    });
                    app.clearPartFields();
                }
            },
            removePartRow(part_id,index)
            {
                var app = this;

                swal({
                    title: "Row Deletion",
                    text: "Are you sure you want to delete the row?",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "No, cancel please!",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                        },
                        confirm: {
                            text: "Yes, Continue!!!",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                }).then(isConfirm => {
                    if (isConfirm) {
                        app.part_added_rows.splice(index, 1);
                        swal("Success", "Row Deleted", "success");
                    } else {
                        swal("Cancelled", "It's safe.", "error");
                    }
                });
            },
            validatePartFields()
            {
                var part_row = this.part_row;
                if(!part_row.part_id || !part_row.name || !part_row.quantity || !part_row.condition || !part_row.price)
                {
                    toastr.warning("Please Fill up the Part Fields");
                    return 0;
                }
                return 1;
            },
            clearPartFields()
            {
                var app = this;
                app.part_row = {
                    part_id : '',
                    name : '',
                    quantity : '',
                    condition : '',
                    price : '',
                }
                $('.parts').val('').change();
            },
            openModal()
            {
                var app = this;
                $('.MyModal').modal({backdrop: 'static', keyboard: false});
                $('.MyModal').modal('show');
            },
            saveForm() {
                var app = this;
                if(app.part_added_rows.length > 0)
                {
                    var formData = new FormData(document.getElementById('requestForQuotation'));
                    axios.post('salesperson/request_for_quote', formData)
                        .then(function (resp) {
                            if (resp.data.code == 422) {
                                app.dangerToastr("Error", resp.data.message);
                            } else {
                                app.quotation.id = resp.data.data.quotation.id;
                                app.openModal();
                            }
                        })
                        .catch(function (error) {
                            app.errors = error.response.data.errors;
                            console.log(app.errors);
                            app.dangerToastr("Error", "Please fill up the fields");
                        });
                }
                else
                {
                    toastr.error("Please Add the Part");
                }
            },
            moveToCreatePriceComparison()
            {
                var app = this;
                app.$router.push({name: 'createPriceComparison', params: {id: app.quotation.id}});
            }
        }
    }
</script>