<template>
    <card>
        <template #cardTitle>Create Customer</template>
        <template #cardBody>
            <go-back></go-back>
            <form @submit.prevent="saveForm()" class="mt-1">
                <div class="form-body">
                    <h4 class="form-section"><i class="ft-user"></i>General Info</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>First Name</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="user.first_name" class="form-control" placeholder="Enter First Name">
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                    <div v-if="errors.first_name">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.first_name">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Last Name</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="user.last_name" class="form-control" placeholder="Enter Last Name">
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                    <div v-if="errors.last_name">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.last_name">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="user.email" class="form-control" placeholder="Enter Email">
                                    <div class="form-control-position">
                                        <i class="la la-envelope primary"></i>
                                    </div>
                                    <div v-if="errors.email">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.email">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Contact Number</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="user.contact_no" class="form-control" placeholder="Enter Contact Number">
                                    <div class="form-control-position">
                                        <i class="ft-phone-call primary"></i>
                                    </div>
                                    <div v-if="errors.contact_no">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.contact_no">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Company Name</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input list="customers" name="customer" id="customer" type="text" v-model="user.company_name" class="form-control" placeholder="Enter Compnay Name">
                                    <datalist id="customers">
                                        <option v-for="(company,index) in companies" :value="company.name"/>
                                    </datalist>
                                    <div class="form-control-position">
                                        <i class="la la-building primary"></i>
                                    </div>
                                    <div v-if="errors.company_name">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.company_name">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Customer Address</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="user.address" class="form-control" placeholder="Enter Customer Address">
                                    <div class="form-control-position">
                                        <i class="ft-map-pin primary"></i>
                                    </div>
                                    <div v-if="errors.address">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.address">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="date" v-model="today" class="form-control" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-calendar primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Customer #</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" class="form-control" v-model="user.customer_no" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Sales Person</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" class="form-control" v-model="salesperson.first_name+' '+salesperson.last_name" disabled>
                                    <div class="form-control-position">
                                        <i class="la la-user primary"></i>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Source</label>
                                <select class="form-control" v-model="user.source">
                                    <option value="" selected="" disabled="">Select Source</option>
                                    <option value="bb">BB</option>
                                    <option value="website">Website</option>
                                    <option value="other-platform">Other Platform</option>
                                </select>
                                <div v-if="errors.source">
                                    <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.source">
                                        <small class="block-area white">{{error}}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" v-show="user.source === 'other-platform'">
                            <div class="form-group">
                                <label>Platform</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" class="form-control" v-model="user.platform" placeholder="Enter Other Platform">
                                    <div class="form-control-position">
                                        <i class="ft-hash primary"></i>
                                    </div>
                                </fieldset>
                                <div v-if="errors.platform">
                                    <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.platform">
                                        <small class="block-area white">{{error}}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-success btn-glow float-right mb-2"><i class="la la-check-o"></i>Create</button>
                </div>
            </form>
        </template>
    </card>
</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import Card from '../../PartialViews/Card/bsCard';
    import GoBack from '../../PartialViews/goBack';
    export default {
        mixins: [globalMixin],
        components:{
            Card,
            GoBack
        },
        data: function () {
            return {
                today: new Date().toISOString().substr(0, 10),
                user:{
                    source:'',
                    customer_no:'',
                },
                salesperson:{},
                companies:[],
                errors:[],
            }
        },
        created() {
            var app = this;
            axios.get('salesperson/customer/create')
                .then(function (resp) {
                    app.salesperson = resp.data.data.salesperson;
                    app.user.customer_no = resp.data.data.customer_no;
                    app.companies = resp.data.data.companies;
                    console.log(app.today);
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        mounted(){

        },
        methods: {
            saveForm() {
                var app = this;
                axios.post('salesperson/customer', app.user)
                    .then(function (resp) {
                        if (resp.data.code == 422) {
                            app.dangerToastr("Error", resp.data.message);
                        } else {
                            app.successToastr("Success", resp.data.message);
                            app.$router.push({name: 'listCustomers'});
                        }
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                        app.dangerToastr("Error", "Please fill up the fields");
                    });
            }
        }
    }
</script>