<template>

    <DatatableWithCard :is_loading=is_loading>
        <template #cardTitle>Customers List</template>
        <template #tHeader>
            <router-link class="btn btn-info mr-1 mt-1 btn-sm btn-glow pull-right tooltip-info" :to="{name:'createCustomer'}" title="Add Customer"><i class="la la-plus font-medium-1"></i>Customer</router-link>
        </template>
        <template #tHead>
            <thead>
            <tr class="bg-info text-white">
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>Company Name</th>
                <!--<th>Source</th>-->
                <th>Sales Person</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
            </thead>
        </template>
        <template #tBody>
            <tbody>
            <tr v-for="(customer,index) in customers">
                <td>{{ index + 1 }}</td>
                <td>{{ customer.first_name +' '+ customer.last_name}}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.contact_no }}</td>
                <td>{{ customer.company_name }}</td>
                <!--<td>{{ customer.source.replace("-", " ") }}</td>-->
                <td>{{ customer.salesperson.first_name +' '+ customer.salesperson.last_name }}</td>
                <td>{{ customer.created_at }}</td>
                <td>
                    <router-link class="btn btn-icon btn-info tooltip-info tooltip-vue" v-can="'customer-edit'" title="Edit Customer" :to="{name:'editCustomer', params: {id: customer.id}}"><i class="la la-pencil text-white"></i></router-link>
                    <a class="btn btn-icon btn-danger tooltip-danger tooltip-vue" title="Delete Customer" v-can="'customer-delete'" @click="deleteCustomer(customer.id,index)"><i class="la la-trash text-white"></i></a>
                </td>
            </tr>
            </tbody>
        </template>
    </DatatableWithCard>

</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import DatatableWithCard from '../../PartialViews/Datatable/datatableWithCard';
    export default {
        mixins: [globalMixin],
        components:{
            DatatableWithCard,
        },
        data: function () {
            return {
                customers:[],
                is_loading:1,
            }
        },
        created() {
            var app = this;
            app.getCustomers();
        },
        mounted(){
            var app = this;
        },
        methods: {
            async getCustomers()
            {
                var app = this;
                await axios.get('salesperson/customer')
                    .then(function (resp) {
                        app.customers = resp.data.data.customers;
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
                app.initializeDatatable();
                app.is_loading = 0;
            },
            deleteCustomer(id,index) {
                var app = this;
                swal({
                    title: "Customer Deletion",
                    text: "Are you sure you want to delete customer?",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "No, cancel please!",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                        },
                        confirm: {
                            text: "Yes, Continue!!!",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                }).then(isConfirm => {
                    if (isConfirm) {
                        axios.delete('salesperson/customer/' + id)
                            .then(function (resp) {
                                app.customers.splice(index, 1);
                                swal("Success", "Customer Deleted Successfully!!!", "success");
                            })
                            .catch(function (resp) {
                                console.log(resp);
                                app.dangerToastr("Error", "Could not delete the role");
                            });
                    } else {

                        swal("Cancelled", "It's safe.", "error");
                    }
                });
            }
        }
    }
</script>
