<template>

    <span>
        <DatatableWithCard :is_loading=is_loading>
            <template #cardTitle>Parts List</template>
            <template #tHeader>
                <router-link class="btn btn-info mr-1 mt-1 btn-sm btn-glow pull-right tooltip-info" :to="{name:'createPart'}"><i class="la la-plus font-medium-1"></i>Part</router-link>
                <button @click="openModalBulkUpload()" class="btn btn-info mr-1 mt-1 btn-sm btn-glow pull-right tooltip-info"><i class="la la-plus font-medium-1"></i>Bulk Upload</button>
                <a href="salesperson/part/downloadPartsCsv" class="btn btn-info mr-1 mt-1 btn-sm btn-glow pull-right tooltip-info"><i class="la la-plus font-medium-1"></i>Download CSV</a>
            </template>
            <template #tHead>
                <thead>
                <tr class="bg-info text-white">
                    <th>#</th>
                    <th>Name</th>
                    <th>Part #</th>
                    <th>created at</th>
                    <th>Action</th>
                </tr>
                </thead>
            </template>
            <template #tBody>
                <tbody>
<!--                <tr v-for="(part,index) in parts">-->
<!--                    <td>{{ index + 1 }}</td>-->
<!--                    <td>{{ part.name }}</td>-->
<!--                    <td>{{ part.part_no }}</td>-->
<!--                    <td>{{ part.created_at }}</td>-->
<!--                    <td>-->
<!--                        <router-link class="btn btn-icon btn-info tooltip-info tooltip-vue" v-can="'parts-edit'" title="Edit Parts" :to="{name:'editPart', params: {id: part.id}}"><i class="la la-pencil text-white"></i></router-link>-->
<!--                    </td>-->
<!--                </tr>-->
                </tbody>
            </template>
        </DatatableWithCard>

        <form @submit.prevent="bulkUploadParts()" enctype="multipart/form-data" id="bulkUploadForm">
            <my-modal modal_size="modal-lg" modal_class="MyModal" modal_bg="bg-info">
                <template #modalTitle> Bulk Upload </template>
                <template #modalBody>
                    <div class="form-group row">
                        <label class="col-md-3 label-control">Select File</label>
                        <div class="col-md-9">
                            <label id="projectinput8" class="file center-block">
                                <input type="file" ref="file" v-on:change="handleFileUpload()" id="file">
                                <span class="file-custom"></span>
                            </label>
                        </div>
                    </div>
                </template>
                <template #modalFooter>
                    <button class="btn btn-info pull-right">Upload</button>
                    <button class="btn btn-info pull-right" data-dismiss="modal" aria-label="Close">Cancel</button>
                </template>
            </my-modal>
        </form>
    </span>


</template>

<script>
    import { globalMixin } from '../../../mixins/mixin.js'
    import DatatableWithCard from '../../PartialViews/Datatable/datatableWithCard';
    import MyModal from '../../PartialViews/Modal/bsModal';
    import UploadFile from '../uploadmultifile';
    export default {
        mixins: [globalMixin],
        components:{
            DatatableWithCard,
            MyModal,
            UploadFile
        },
        data: function () {
            return {
                parts:[],
                csv_file:'',
                is_loading:1,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
        },
        created() {
            var app = this;
            app.getParts();
        },
        mounted(){
            var app = this;
        },
        methods: {
            async getParts()
            {
                var app = this;
                setTimeout( function () {
                    $('table').DataTable({
                        processing: true,
                        serverSide: true,
                        paging: true,
                        bSortable: true,
                        length: 25,
                        ajax:{
                            url: "salesperson/allPartsDatatable",
                            dataType: "json",
                            type: "POST",
                            data:{ _token: app.csrf}
                        },
                        columns: [
                            { data: "sr_no" },
                            { data: "name" },
                            { data: "part_no" },
                            { data: "created_at" },
                            { data: "action" },
                        ]
                    });
                }, 1);
                app.is_loading = 0;
            },
            openModalBulkUpload(){
                var app = this;
                app.csv_file = '';
                $('.MyModal').modal({backdrop: 'static', keyboard: false});
                $('.MyModal').modal('show');
            },
            handleFileUpload(){
                this.csv_file = this.$refs.file.files[0];
            },
            bulkUploadParts()
            {
                var app = this;

                var formData = new FormData(document.getElementById('bulkUploadForm'));
                formData.append('file', app.csv_file);

                axios.post('salesperson/part/importParts',
                    formData,{
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then(function (resp) {
                        if(resp.data.code == 422)
                        {
                            toastr.error(resp.data.message);
                        }
                        else
                        {
                            if(resp.data.data.parts)
                            {
                                var parts = resp.data.data.parts;
                                for (var part in parts) {
                                    app.parts.unshift(parts[part]);
                                }
                                toastr.success(resp.data.message);
                            }
                            else
                            {
                                toastr.warning('These Parts Already Exists !');
                            }

                            $('.MyModal').modal('hide');
                        }
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        toastr.error("Could not upload your parts");
                    });
            }
        }
    }
</script>
