<template>
    <div>
        <form :action="form_action" class="dropzone dropzone-area dz-clickable" id="dpz-multiple-files">
            <input type="hidden" name="_token" :value="csrf">
            <div class="dz-default dz-message" style="margin-top: -160px; padding-top: 160px;">
                <span>Drop files here to upload</span>
            </div>
        </form>
    </div>
</template>

<script>
    import Dropzone from '../../../../public/assets/AdminTheme/app-assets/vendors/js/extensions/dropzone.min.js'

    export default {
        props:['form_action'],
        data: function () {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                filedata:[]
            }
        },
        mounted() {
            var component_this = this;
            Dropzone.options.dpzMultipleFiles = {
                paramName: "file", // The name that will be used to transfer the file
                maxFilesize: 0.5, // MB
                clickable: true,

                // Prevents Dropzone from uploading dropped files immediately
                autoProcessQueue: false,
                init: function ()
                {
                    var wrapperThis = this;
                    wrapperThis.on('success', function( file, resp )
                    {
                        component_this.filedata.push({
                            name: file.name,
                            size: file.size
                        });

                        console.log(component_this.filedata);
                        wrapperThis.removeFile(file);
                        $('.MyModal').modal({backdrop: 'static', keyboard: false});
                        $('.MyModal').modal('hide');
                        toastr.success('Files Attatched Successfully !!!','Success');
                        location.reload();
                    });

                    var submitButton = document.querySelector("#submit-all");
                    submitButton.addEventListener("click", function () {
                        wrapperThis.processQueue();
                    });

                    wrapperThis.on("addedfile", function (file)
                    {
                        // Create the remove button
                        var removeButton = Dropzone.createElement("<a class='dz-remove'>Remove File</a>");

                        // Listen to the click event
                        removeButton.addEventListener("click", function (e)
                        {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();

                            // Remove the file preview.
                            wrapperThis.removeFile(file);
                            // If you want to the delete the file on the server as well,
                            // you can do the AJAX request here.
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);

                    });

                    wrapperThis.on('sendingmultiple', function (data, xhr, formData)
                    {
                        // formData.append("Username", $("#Username").val());
                    });

                    $(".clear-dropzone").on("click", function ()
                    {
                        // Using "_this" here, because "this" doesn't point to the dropzone anymore
                        /*wrapperThis.removeAllFiles();*/
                        // If you want to cancel uploads as well, you could also call
                        wrapperThis.removeAllFiles(true);
                    });
                }
            };
        }
    }
</script>
