<template>
    <card>
        <template #cardTitle>Create Question</template>
        <template #cardBody>
            <go-back></go-back>
            <form @submit.prevent="saveForm()" class="mt-1">
                <div class="form-body">
                    <h4 class="form-section"><i class="la la-question-circle primary"></i>Create Question</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Enter Question</label>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" v-model="question.question" class="form-control" placeholder="Enter Question Here">
                                    <div class="form-control-position">
                                        <i class="la la-question-circle primary"></i>
                                    </div>
                                    <div v-if="errors.question">
                                        <p class="badge-danger block-tag text-center" v-for="(error,index) in errors.question">
                                            <small class="block-area white">{{error}}</small>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-success btn-glow float-right mb-2"><i class="la la-check-o"></i>Create</button>
                </div>
            </form>
        </template>
    </card>
</template>

<script>
    import { globalMixin } from '../../../../mixins/mixin.js'
    import Card from '../../../PartialViews/Card/bsCard';
    import GoBack from '../../../PartialViews/goBack';
    export default {
        mixins: [globalMixin],
        components:{
            Card,
            GoBack
        },
        data: function () {
            return {
                question:{},
                errors:[],
            }
        },
        created() {
            var app = this;
        },
        mounted(){

        },
        methods: {
            saveForm() {
                var app = this;
                axios.post('salesperson/rejection_questions', app.question)
                    .then(function (resp) {
                        if (resp.data.code == 422) {
                            app.dangerToastr("Error", resp.data.message);
                        } else {
                            app.successToastr("Success", resp.data.message);
                            app.$router.push({name: 'listQuotationRejectionQuestion'});
                        }
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                        console.log(app.errors);
                        app.dangerToastr("Error", "Please fill up the field");
                    });
            }
        }
    }
</script>