<template>

    <DatatableWithCard :is_loading=is_loading>
        <template #cardTitle>Questions List</template>
        <template #tHeader>
            <router-link class="btn btn-info mr-1 mt-1 btn-sm btn-glow pull-right tooltip-info" v-can="'rejection_questions-create'" :to="{name:'createQuotationRejectionQuestion'}"><i class="la la-plus font-medium-1"></i>Question</router-link>
        </template>
        <template #tHead>
            <thead>
            <tr class="bg-info text-white">
                <th>#</th>
                <th>Question</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
            </thead>
        </template>
        <template #tBody>
            <tbody>
            <tr v-for="(question,index) in questions">
                <td>{{ index + 1 }}</td>
                <td>{{ question.question }}</td>
                <td>
                    <button type="button" v-if="question.status === 'inactive'" class="btn btn-sm btn-outline-danger round">{{ question.status }}</button>
                    <button type="button" v-else class="btn btn-sm btn-outline-success round">{{ question.status }}</button>
                </td>
                <td>{{ question.created_at }}</td>
                <td>
                    <a class="btn btn-sm text-white btn-info round" v-can="'rejection_questions-update'" @click="toggleStatus(question,index)">Toggle Status</a>
                </td>
            </tr>
            </tbody>
        </template>
    </DatatableWithCard>

</template>

<script>
    import { globalMixin } from '../../../../mixins/mixin.js'
    import DatatableWithCard from '../../../PartialViews/Datatable/datatableWithCard';
    export default {
        mixins: [globalMixin],
        components:{
            DatatableWithCard,
        },
        data: function () {
            return {
                questions:[],
                is_loading:1,
            }
        },
        created() {
            var app = this;
            app.getQuestions();
        },
        mounted(){
            var app = this;
        },
        methods: {
            async getQuestions()
            {
                var app = this;
                await axios.get('salesperson/rejection_questions')
                    .then(function (resp) {
                        app.questions = resp.data.data.questions;
                        console.log(app.questions);
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
                app.initializeDatatable();
                app.is_loading = 0;
            },
            toggleStatus(question,index)
            {
                var app = this;
                swal({
                    title: "Toggle Status",
                    text: "Are you sure you want to Toggle the Question Status?",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "No, cancel please!",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                        },
                        confirm: {
                            text: "Yes, Continue!!!",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                }).then(isConfirm => {
                    if (isConfirm) {
                        axios.get('salesperson/rejection_questions/toggleStatus/'+question.id)
                            .then(function (resp) {
                                app.questions[index].status = resp.data.data.question.status;
                                swal("Success", "Status Toggled Successfully!!!", "success");
                            })
                            .catch(function (resp) {
                                console.log(resp);
                            });
                    } else {

                        swal("Cancelled", "It's safe.", "error");
                    }
                });
            }
        }
    }
</script>
