<template>
    <div :class="'alert round alert-icon-left alert-arrow-left alert-dismissible mb-2 '+ alert_bg" role="alert"> <!-- alert class needs to be added in this -->
        <span class="alert-icon"><i class="la la-thumbs-o-down"></i></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>
            <slot name="roundAlertText"></slot>
        </strong>
    </div>
</template>

<script>
    export default {
        props:['alert_bg'],
        data: function () {
            return {

            }
        },
        created() {

        },
        mounted(){

        },
        methods: {

        }
    }
</script>