<template>
    <div class="card {{$card_colour}}">
        <div class="card-content">
            <div class="card-body">
                <div class="media d-flex">
                    <div class="align-self-center">
                        <i class="text-white font-large-2 float-left"></i>  <!-- card icon class needs to be added in this -->
                    </div>
                    <div class="media-body text-white text-right">
                        <h3 class="text-white">
                            <slot name="cardHeading"></slot>
                        </h3>
                        <span>
                            <slot name="cardSpan"></slot>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {

            }
        },
        created() {

        },
        mounted(){

        },
        methods: {

        }
    }
</script>